#app-mount {
  .chat-3bRxxu {
    background: var(--background);
    .scrollerSpacer-avRLaA {
      height: 25px;
    }
    .content-yTz4x3:before {
      content: none;
    }
  }
  .operations-36ENbA > a {
    color: rgb(var(--accent), 1);
  }
}