#app-mount {
  // Chat box
  .form-2fGMdU {
    &:before {
      content: none;
    }
  }
  .scrollableContainer-2NUZem {
    background: var(--background-alt);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

  }
  .placeholder-37qJjk {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 12px;
  }
  .placeholder-37qJjk,
  .slateTextArea-1Mkdgw {
    padding: 15px;
  }

  .attachButton-2WznTc {
    padding: 15px 16px;
    height: 52px;
  }
  .buttons-3JBrkn {
    height: 52px;
  }
}

