#app-mount {
  .checkboxWrapper-SkhIWG {
    &.checked-3_4uQ9 .checkbox-1ix_J3 {
      border-color: rgba(var(--accent), 1) !important;
      background:rgba(var(--accent), 1) !important;
      path {
        fill: #fff !important;
      }
    }
  }

  // Checkbox row
  .checkboxWrapper-SkhIWG.row-3QHy4I {
    background: var(--background-light);
    &.checked-3_4uQ9 .checkbox-1ix_J3 {
      background: rgba(var(--accent), 1) !important;
      border-color: rgba(var(--accent), 1) !important;
    }
  }

  // Menu Checkbox
  [role="menuitemcheckbox"][aria-checked="true"] {
    .checkbox-3s5GYZ {
      color: rgba(var(--accent), 1);
    }
    &:hover {
      .checkbox-3s5GYZ {
        color: #fff;
      }
      .check-1JyqgN {
        color: rgba(var(--accent), 1);
      }
    }
  }

  // Menu Radio
  [role="menuitemradio"][aria-checked="true"] {
    .radioSelection-1HmrQS {
      color: rgba(var(--accent), 1);
    }
    &:hover .radioSelection-1HmrQS {
      color: #fff;
    }
  }
}