#app-mount [role="radiogroup"] {
  .item-26Dhrx {
    background: var(--background-alt);
    &:hover {
      background: var(--background-light);
    }
    &[aria-checked="true"] {
      background: rgb(var(--accent));
      color: #fff;
      .radioIconForeground-XwlXQN {
        color: #fff;
      }
    }
  }
}