#app-mount .wrapper-CU3qI5 {
  color: var(--text-1);
  .container-2ax-kl {
    color: var(--text-1);
  }
  &.muted-1NRuDm {
    color: var(--text-dark);
    .container-2ax-kl {
      color: var(--text-dark);
    }
  }
  &:hover {
    color: var(--text-1);
    .container-2ax-kl {
      color: var(--text-1);
    }
  }
}