#app-mount [aria-label="USER_SETTINGS"] {
  .authedApp-mj2Hmd {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    border: none;
  }
  .accountBtnInner-sj5jLs {
    background-color: var(--background-light);
  }
  .connection-1fbD7X {
    background: var(--background-alt);
  }
  .connectionHeader-2MDqhu {
    background: var(--background-light-alt);
  }
  .integration-3kMeY4 {
    background: var(--background);
  }
}