#app-mount [aria-label="USER_SETTINGS"] {
  .background-1QDuV2 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
  }
  .fieldList-21DyL8 {
    background: var(--background-light);
  }
}