#app-mount [aria-label="GUILD_SETTINGS"] {
  .children-1xdcWE > .flex-1xMQg5.flex-3BkGQD {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    padding: 16px;
  }
  .micTest-bjZA-b {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    padding: 16px;
    margin-top: 20px;
    .marginTop8-24uXGp {
      margin-top: 0;
    }
  }
  .container-3NTP7o {
    width: 530px !important;
  }
  .notches-2w7UZJ {
    background: none;
  }
}