#app-mount ._960e4207cea8323e-layer:not(._960e4207cea8323e-baseLayer) {
	background: var(--background);

	// Groups
	.children__7bffb {
		& > .fd297e0eff2da25e-marginBottom40:not(.divider-3y7HAB) {
			background: var(--background-alt);
			border-radius: var(--border-radius);
			padding: 16px;
			border: none;
			.fd297e0eff2da25e-marginTop8 {
				margin-top: 0;
			}
		}
		& > .fd297e0eff2da25e-marginBottom20:not(.title-3hptVQ) {
			background: var(--background-alt);
			border-radius: var(--border-radius);
			padding: 16px;
			border: none;
		}
		& > [class*='marginBottom'] {
			.container-1zDvAE:last-child {
				margin-bottom: 0;
			}
			[class*='marginBottom'] {
				padding: 0;
			}
		}
		& > .divider-3wNib3 {
			background: var(--background-alt);
			border-radius: var(--border-radius);
			padding: 16px;
			border: none;
		}
		.children__7bffb ._7c0bae9243151ddd-flex.abf7060e6f2beabe-flex {
			padding: 0 !important;
		}
	}

	// Dividers
	.divider-3y7HAB {
		display: none;
	}

	// Notices
	.formNotice-2nS8ey {
		padding: 0;
		background: transparent;
	}
	.card-16VQ8C {
		background: var(--background-light);
		border: none;
	}

	._23e6b439306f125a-sidebarRegionScroller {
		background: var(--background-dark);
	}

	._23e6b439306f125a-contentRegionScroller,
	._23e6b439306f125a-contentRegion {
		background: var(--background);
	}

	// Save changes
	.elevationHigh__08882 {
		background: var(--background-light) !important;
		box-shadow: var(--box-shadow);
	}
}
