#app-mount .layer__960e4:not(.baseLayer__960e4) {
	background: var(--background);

	// Groups
	.children__7bffb {
		& > .marginBottom40_fd297e:not(.divider-3y7HAB) {
			background: var(--background-alt);
			border-radius: var(--border-radius);
			padding: 16px;
			border: none;
			.marginTop8_fd297e {
				margin-top: 0;
			}
		}
		& > .marginBottom20_fd297e:not(.title-3hptVQ) {
			background: var(--background-alt);
			border-radius: var(--border-radius);
			padding: 16px;
			border: none;
		}
		& > [class*='marginBottom'] {
			.container-1zDvAE:last-child {
				margin-bottom: 0;
			}
			[class*='marginBottom'] {
				padding: 0;
			}
		}
		& > .divider-3wNib3 {
			background: var(--background-alt);
			border-radius: var(--border-radius);
			padding: 16px;
			border: none;
		}
		.children__7bffb .flex__7c0ba.flex_abf706 {
			padding: 0 !important;
		}
	}

	// Dividers
	.divider-3y7HAB {
		display: none;
	}

	// Notices
	.formNotice-2nS8ey {
		padding: 0;
		background: transparent;
	}
	.card-16VQ8C {
		background: var(--background-light);
		border: none;
	}

	.sidebarRegionScroller__23e6b {
		background: var(--background-dark);
	}

	.contentRegionScroller__23e6b,
	.contentRegion__23e6b {
		background: var(--background);
	}

	// Save changes
	.elevationHigh__08882 {
		background: var(--background-light) !important;
		box-shadow: var(--box-shadow);
	}
}
