#app-mount .bg__12180 {
  background: var(--background-dark);
}

::selection {
  background: rgb(var(--accent), 1);
  color: var(--accent-text);
}

#app-mount .info__755e1 .line_cdcacc:first-child:before {
  content: "MinimalCord " var(--minimalcord-version);
  display: block;
}