#app-mount .bg-1QIAus {
  background: var(--background-dark);
}

::selection {
  background: rgb(var(--accent), 1);
  color: var(--accent-text);
}

#app-mount .info-3pQQBb .line-18uChy:first-child:before {
  content: "MinimalCord " var(--minimalcord-version);
  display: block;
}