::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
	font-family: var(--font, 'Roboto'), 'Whitney';
}
html,
span:not([class*='spinner_']):not([class*='spinnerItem']) {
	backface-visibility: hidden !important;
}
