#app-mount {
  .title-3qD0b-,
  .container__11d72 {
    background: var(--background);
  }
  .children__32014:after {
    content: none;
  }
  .searchBar_e0c60b {
    background: var(--background-dark);
  }
}