#app-mount {
	.tooltipGrey-lpLZjh {
		background: var(--background-light);
	}
	.tooltipPrimary-3qLMbS {
		background: var(--background-light);
		box-shadow: none;
	}
	.tooltipPointer-3L49xb {
		border-top-color: var(--background-light);
	}
	.tooltipContent-Nejnvh {
		color: var(--text-focus);
		font-weight: var(--font-weight-bold);
		.b1f768426adf64d9-guildNameText {
			color: var(--text-focus);
		}
		.b1f768426adf64d9-muteText {
			color: var(--text-normal);
		}
	}
}
