#app-mount {
  .tooltipGrey-lpLZjh {
    background: var(--background-light);
  }
  .tooltipPrimary-3qLMbS {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
  }
  .tooltipPointer-3L49xb {
    border-top-color: var(--background-light);
  }
  .tooltipContent-Nejnvh {
    color: var(--text-focus);
    font-weight: var(--font-weight-bold);
    .guildNameText__16f3c {
      color: var(--text-focus);
    }
    .muteText_dc1e9a {
      color: var(--text-normal);
    }
  }
}