#app-mount {
	.title-3qD0b-,
	.container__9293f {
		background: var(--background);
		border: none;
	}
	.children__9293f:after {
		content: none;
	}
	.searchBar__97492 {
		background: var(--background-dark);
	}
}
