#app-mount {
	.title-3qD0b-,
	._9293f6b2fc12398a-container {
		background: var(--background);
		border: none;
	}
	._9293f6b2fc12398a-children:after {
		content: none;
	}
	._974928fe84ca9647-searchBar {
		background: var(--background-dark);
	}
}
