#app-mount ._5e434347c823b592-guilds {
	background: var(--background-dark);
	.footer__214dc {
		--background-tertiary: var(--background-dark);
	}
	.d125d22cdfd32cfe-scrollerBase {
		background: var(--background-dark);
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
