#app-mount .guilds__5e434 {
	background: var(--background-dark);
	.footer__214dc {
		--background-tertiary: var(--background-dark);
	}
	.scrollerBase_d125d2 {
		background: var(--background-dark);
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
