#app-mount {
  // Server
  .wrapper-3kah-n {
    &.selected-1Drb7Z .childWrapper-1j_1ub {
      background: rgb(var(--accent), 1);
      color: var(--accent-text);
    }
  }
  .childWrapper-1j_1ub {
    background: var(--background-light);
  }

  // Add/Join server & Server Discovery
  .circleIconButton-1VxDrg {
    background: var(--background-light);
    &:hover,
    &.selected-2r1Hvo {
      background: rgb(var(--discord-green) / 1);
    }
  }
}