#app-mount {
	// Server
	.wrapper__8436d {
		&.selected_ae80f7 .childWrapper_a6ce15 {
			background: rgb(var(--accent), 1);
			color: var(--accent-text);
		}
	}
	.childWrapper_a6ce15 {
		background: var(--background-light);
	}

	// Add/Join server & Server Discovery
	._5bc7ed9d4097f6b5-circleIconButton {
		background: var(--background-light);
		&:hover,
		&._5bc7ed9d4097f6b5-selected {
			background: rgb(var(--discord-green) / 1);
		}
	}

    // Channels & Roles Page
	._0b56311ebc6682e2-container, ._0b56311ebc6682e2-header , ._41ed70e52483df6d-pageBody {
		background: var(--background) !important;
	}

	// Members Page
	 .c791b281f2fedc32-page {
		background-color: var(--background) !important;
	}
	
	._09a38002c6c2466d-mainTableContainer {
		background: var(--background-alt);
		border: none;
	}

	// Boosts Page
	._8946359d8adb1488-contentContainer, ._8946359d8adb1488-sidebarContainer {
		background: var(--background);
	}
}
