#app-mount {
	// Server
	.wrapper__8436d {
		&.selected_ae80f7 .childWrapper_a6ce15 {
			background: rgb(var(--accent), 1);
			color: var(--accent-text);
		}
	}
	.childWrapper_a6ce15 {
		background: var(--background-light);
	}

	// Add/Join server & Server Discovery
	.circleIconButton__5bc7e {
		background: var(--background-light);
		&:hover,
		&.selected__5bc7e {
			background: rgb(var(--discord-green) / 1);
		}
	}

    // Channels & Roles Page
	.container__0b563, .header__0b563 , .pageBody__41ed7 {
		background: var(--background) !important;
	}

	// Members Page
	 .page_c791b2 {
		background-color: var(--background) !important;
	}
	
	.mainTableContainer__09a38 {
		background: var(--background-alt);
		border: none;
	}

	// Boosts Page
	.contentContainer__89463, .sidebarContainer__89463 {
		background: var(--background);
	}
}
