#app-mount {
  .categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
    background: rgba(var(--accent), 1);
  }

  .pageWrapper-2PwDoS {
    background: var(--background);
    .input-2g-os5 {
      background: #fff;
      border: none;
    }
  }

  .card-2TuZPZ {
    border-radius: var(--border-radius);
    background: var(--background-alt);
    foreignObject[mask="url(#svg-mask-squircle)"] {
      mask: none;
    }
    &:hover {
      background: var(--background-light-alt);
      box-shadow: var(--box-shadow);
      .iconMask-2fMR98 {
        background: var(--background-light-alt);
      }
    }
  }
  .iconMask-2fMR98 {
    border-radius: var(--border-radius);
    background: var(--background-alt);  
  }
}