#app-mount {
    // Seems to "only" control the color of the little line above the "Online" "All" "Friends" Button row
	.container__133bf {
		background: var(--background);
		border: none;
	}

    // Search bar
    .searchBar__5ec2f {
        background: var(--background-dark);
    }

    // Background
    .tabBody__133bf, .container__7d20c {
		background: var(--background);
	}
    // Listed Friend-Containers
	.peopleListItem_cc6179 {
		background: var(--background-alt);
		border-radius: var(--border-radius);
		border: none;
		line-height: normal;
		margin: 0 20px 10px 20px;
		padding: 0 15px;
		&:hover {
			background: var(--background-light);
			.actionButton_f8fa06 {
				background: var(--background);
			}
		}
	}
	.actionButton_f8fa06 {
		background: var(--background-dark);
	}
	// Active Now Section
	.nowPlayingColumn__133bf {
		background: transparent;
	}
	.header__7d20c {
		padding: 0 0 20px 0;
	}
	.emptyCard__7e549 {
		background: var(--background-alt);
		border-radius: var(--border-radius);
	}
    // Activity Box
	.wrapper__00943 {
		background: var(--background-alt);
		border-radius: var(--border-radius);
		border: none;
		&:hover {
			background: var(--background-light);
			.section__00943 {
				background: var(--background-alt);
			}
		}
	}
    // Activity Box Inner Box
	.section__00943 {
		background: var(--background-light);
        border: none;
    }
	.inset_bf1984 {
		background: var(--background);
        border-radius: 8px;
	}

	.interactive__972a0 {
    	color: var(--interactive-normal);
	}

	.interactiveSelected__972a0 {
    	color: var(--text-default);
	}

}
