#app-mount {
    // Seems to "only" control the color of the little line above the "Online" "All" "Friends" Button row
	._133bf5eea8e33a34-container {
		background: var(--background);
		border: none;
	}

    // Search bar
    ._5ec2fb8b5de26b21-searchBar {
        background: var(--background-dark);
    }

    // Background
    ._133bf5eea8e33a34-tabBody, ._7d20cf18f8a2784c-container {
		background: var(--background);
	}
    // Listed Friend-Containers
	.cc61794aab086a2e-peopleListItem {
		background: var(--background-alt);
		border-radius: var(--border-radius);
		border: none;
		line-height: normal;
		margin: 0 20px 10px 20px;
		padding: 0 15px;
		&:hover {
			background: var(--background-light);
			.f8fa068db52f043f-actionButton {
				background: var(--background);
			}
		}
	}
	.f8fa068db52f043f-actionButton {
		background: var(--background-dark);
	}
	// Active Now Section
	._133bf5eea8e33a34-nowPlayingColumn {
		background: transparent;
	}
	._7d20cf18f8a2784c-header {
		padding: 0 0 20px 0;
	}
	._7e549558f336cddb-emptyCard {
		background: var(--background-alt);
		border-radius: var(--border-radius);
	}
    // Activity Box
	._00943886e1cf89d1-wrapper {
		background: var(--background-alt);
		border-radius: var(--border-radius);
		border: none;
		&:hover {
			background: var(--background-light);
			._00943886e1cf89d1-section {
				background: var(--background-alt);
			}
		}
	}
    // Activity Box Inner Box
	._00943886e1cf89d1-section {
		background: var(--background-light);
        border: none;
    }
	.bf1984a18b3ec6f0-inset {
		background: var(--background);
        border-radius: 8px;
	}

	._972a0d22c8afa7f0-interactive {
    	color: var(--text-normal);
	}

	._972a0d22c8afa7f0-interactiveSelected {
    	color: var(--text-focus);
	}

	._63ed30c16c7151f2-clickableUsername, ._4bd5201c86a2042b-defaultColor {
    	color: var(--text-normal);
	}

}
