#app-mount {
  .container__5c7e7 {
    background: var(--background);
    .title__10613 {
      margin: 20px;
    }
  }
  .tabBody_b3d268:before {
    content: none;
  }

  .peopleListItem_d14722 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    border: none;
    line-height: normal;
    margin: 0 20px 10px 20px;
    padding: 0 15px;
    &:hover {
      background: var(--background-light);
      .actionButton__23182 {
        background: var(--background);
      }
    }
  }
  .actionButton__23182 {
    background: var(--background-dark);
  }



	.scroller__00e7e {
		border: none;
		padding-left: 0;
	}
	.container__0a6a9 {
		background: var(--background);
	}
  .nowPlayingColumn_f5023f {
    background: transparent;
  }
  .nowPlayingScroller_dce5c0 {
    padding: 20px;
  }
  .header-13Cw0- {
    padding: 0 0 20px 0;
  }
  .emptyCard_f82dde {
    background: var(--background-alt);
    border-radius: var(--border-radius);
  }

  .wrapper__6e669 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
		border: none;
    &:hover {
      background: var(--background-light);
      .inset__0bfb3 {
        background: var(--background-alt);
      }
    }
  }
	.section_efc22d {
		background: var(--background-light);
	}
  .inset__0bfb3 {
    background: var(--background);
  }
}