#app-mount {
  .container_bd15da {
    background: var(--background);
    .title__4a7a9 {
      margin: 20px;
    }
  }
  .tabBody_a90ea8:before {
    content: none;
  }

  .peopleListItem_dab480 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    border: none;
    line-height: normal;
    margin: 0 20px 10px 20px;
    padding: 0 15px;
    &:hover {
      background: var(--background-light);
      .actionButton__2b4bb {
        background: var(--background);
      }
    }
  }
  .actionButton__2b4bb {
    background: var(--background-dark);
  }



	.scroller__7c25e {
		border: none;
		padding-left: 0;
	}
	.container__3673d {
		background: var(--background);
	}
  .nowPlayingColumn_b025fe {
    background: transparent;
  }
  .nowPlayingScroller__5cd67 {
    padding: 20px;
  }
  .header-13Cw0- {
    padding: 0 0 20px 0;
  }
  .emptyCard__204d9 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
  }

  .wrapper__3c6d5 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
		border: none;
    &:hover {
      background: var(--background-light);
      .inset__61d5b {
        background: var(--background-alt);
      }
    }
  }
	.section__253ec {
		background: var(--background-light);
	}
  .inset__61d5b {
    background: var(--background);
  }
}