#app-mount {
  .scroller__244e5 {
    background: var(--background);
  }
  .detailsBlock-FoDTGA {
    background: var(--background-alt);
  }
  .feature-2IUcBI {
    background: var(--background-alt);
  }
}