#app-mount {
	.perksModal-fSYqOq {
		background: var(--background);
	}
	.ctaBar-2UsjF2 {
		background: var(--background-alt);
	}

	.tierBody-16Chc9 {
		background: var(--background-alt);
	}
	.tierHeaderLocked-1s2JJz {
		background: var(--background-light-alt);
	}
	.perk-2WeBWW {
		background: var(--background-alt);
	}
}
