#app-mount {
	.perksModal-fSYqOq {
		background: var(--background);
	}
	.tierBody-16Chc9, .perk-2WeBWW, .ctaBar-2UsjF2   {
		background: var(--background-alt);
	}
	.tierHeaderLocked-1s2JJz {
		background: var(--background-light-alt);
	}
}
