#app-mount .root-1gCeng {
    background: var(--background-1);
    .input-1GLP_D, .lookFilled-1h1y05.select-1Pkeg4 {
        background-color: var(--background-2);
        border: none;
    }
    .footer-3rDWdC {
        background: var(--background-2);
        box-shadow: none;
    }
}