#app-mount {
  .modal-3O0aXp,
  .root-1gCeng {
    background: var(--background);
    box-shadow: var(--box-shadow);
  }
  .header-1TKi98 {
    box-shadow: none;
  }
  .footer-2gL1pp {
    background: var(--background-alt);
    box-shadow: none;
  }
}