#app-mount {
  .quickswitcher-3JagVE {
    background: var(--background);
  }
  .scroller-zPkAnE {
    background: transparent;
  }
  .input-2VB9rf {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
    padding: 0 24px;
  }
}