#app-mount {
  .quickswitcher-pKcM9U {
    background: var(--background);
  }
  .scroller-2qwVWY {
    background: transparent;
  }
  .input-3r5zZY {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
    padding: 0 24px;
  }
}