#app-mount .regionSelectModal-12e-57 {
  background: var(--background-2);
  .regionSelectModalOption-2DSIZ3 {
    background: var(--background-1);
    border: none;
    box-shadow: var(--box-shadow);
  }
}