#app-mount {
  .uploadModal-2ifh8j {
    background: var(--background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    .footer-3mqk7D {
      background: var(--background-alt);
      box-shadow: none;
    }
  }
}