#app-mount .root-3QyAh1 {

  // Global styles
  .size12-3cLvbJ,
  .activityName-1IaRLn,
  .nameNormal-2lqVQK,
  .nameWrap-3Z4G_9 {
    color: var(--text-normal);
  }

  // Playing banner
  .topSection-y3p-_D {
    background: var(--background-alt);
  }

  .headerFill-adLl4x {
    background: transparent;
  }
  .tabBarContainer-37hZsr {
    border: none;
  }
	.avatar-AvHqJA {
		border-color: var(--background-alt);
		background: var(--background-alt);
	}


  // Tab btns
  .tabBarItem-1b8RUP {
    color: var(--text-normal);
    &[style*="255, 255, 255"] {
      color: var(--text-focus) !important;
      border-color: var(--text-focus) !important;
    }
  }



  .userInfoSection-q_35fn {
    border: none;
  }
  .connectedAccounts-QlRa4m {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  .connectedAccount-2Jb-Z0 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    border: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .body-r6_QPy {
    background: var(--background);
    height: 320px;
		border: none;
  }

  .note-367eZJ {
    margin: 0;
  }
  textarea {
    padding: 8px;
    height: auto !important;
  }

	&[style*="--user-background"] {
		.banner-2QYc2d:not(.bannerPremium-2hSAwz) {
			height: 240px;
			background: var(--user-background) center/cover;
		}
	}
}