#app-mount {
  .sidebar-dLM-kh {
    border: none;
  }
  .titleContainer-2CXtJo {
    background: var(--background);
    box-shadow: none;
  }
  .header-2mZ9Ov {
    background: var(--background);
    box-shadow: none;
  }
}