#app-mount ._5d473ecff348c314-member {
	background: transparent;
	._82f0793afa59e5dc-botTagRegular {
		background: rgb(var(--accent), 1);
		color: var(--accent-text);
		._82f0793afa59e5dc-botText {
			font-weight: 600;
		}
	}

	&:hover ._91a9d7f7e5248a56-layout {
		background: var(--background-alt);
        width: 100%;
	}
	&:active ._91a9d7f7e5248a56-layout {
		background: var(--background-light);
        width: 100%;
	}
	&._91a9d7f7e5248a56-selected ._91a9d7f7e5248a56-layout {
		background: rgb(var(--accent), 1);
        width: 100%;
        .roleColor-rz2vM0,
		.activity__5d473,
		.premiumIcon-1rDbWQ,
		._5d473ecff348c314-username span {
			color: var(--accent-text) !important;
		}
        // Applies to new Glow Names
        ._703b91fc872193e8-nameContainer {
        --custom-gradient-color-1: var(--accent-text) !important;
        --custom-gradient-color-2: var(--accent-text) !important;
        --custom-gradient-color-3: var(--accent-text) !important;
        }
        .e5de7811b2777bfa-usernameGlow {
            filter: none;
            transition: none;
        }
        .e5de7811b2777bfa-usernameGlowActive {
            filter: none;
            transition: none;
        }
        // New Tag after Name
        ._10651c5cfe637db6-chipletContainerInner {
            background: var(--background-light)
        }
        rect[fill='#43b581'],
		rect[fill='#faa61a'],
		rect[fill='#f04747'] {
			fill: #fff;
		}

		// "App" Text on Bot Tag
        ._82f0793afa59e5dc-botTagRegular {
			background: var(--accent-text);
			color: rgb(var(--accent), 1);
		}
        // Little ✓ on Bot Tag if verified
        ._82f0793afa59e5dc-botTagVerified path {
            fill: #3283CF !important;
        }

    }
    ._91a9d7f7e5248a56-childContainer {
        padding-right: 0%;
        padding-left: 0%;
    }
}
