#app-mount .member_aa4760 {
  background: transparent;
  .botTagRegular_c89c9a {
    background: rgb(var(--accent), 1);
    color: var(--accent-text);
    .botText_daff56 {
      font-weight: 600;
    }
  }

  &:hover .layout_bb8e67 {
    background: var(--background-alt);
  }
  &:active .layout_bb8e67 {
    background: var(--background-light);
  }
  &.selected__7f4cb .layout_bb8e67 {
    background: rgb(var(--accent), 1);
    .roleColor-rz2vM0,
    .activity_bafb94,
    .premiumIcon-1rDbWQ,
    .username_ab1e31,
    .username_ab1e31 span {
      color: var(--accent-text) !important;
    }
    rect[fill="#43b581"],
    rect[fill="#faa61a"],
    rect[fill="#f04747"] {
      fill: #fff;
    }
    .botTagRegular_c89c9a {
      background: var(--accent-text);
      color: rgb(var(--accent), 1);
    }
  }
}