#app-mount .member__5d473 {
	background: transparent;
	.botTagRegular_c89c9a {
		background: rgb(var(--accent), 1);
		color: var(--accent-text);
		.botText__82f07 {
			font-weight: 600;
		}
	}

	&:hover .layout__91a9d {
		background: var(--background-alt);
	}
	&:active .layout__91a9d {
		background: var(--background-light);
	}
	&.selected__91a9d .layout__91a9d {
		background: rgb(var(--accent), 1);
		.roleColor-rz2vM0,
		.activity__5d473,
		.premiumIcon-1rDbWQ,
		.username__5d473,
		.username__5d473 span {
			color: var(--accent-text) !important;
		}
		rect[fill='#43b581'],
		rect[fill='#faa61a'],
		rect[fill='#f04747'] {
			fill: #fff;
		}
		.botTagRegular_c89c9a {
			background: var(--accent-text);
			color: rgb(var(--accent), 1);
		}
	}
}
