#app-mount .container-VSDcQc {
  .autocompleteShadow-iiGWFU {
    box-shadow: var(--box-shadow);
    background: var(--user-popout);
  }
  .autocompleteArrow-Zxoy9H {
    box-shadow: var(--box-shadow);
    background: var(--user-popout);
  }
  .header-2bNvm4 {
    background: var(--user-popout-body);
  }
  .sectionTag-pXyto9 {
    background: var(--user-popout);
  }
  .row-rrHHJU.selected-1pIgLL {
    background: rgba(255,255,255,0.02);
  }
}