#app-mount .autocomplete-1vrmpx {
  background: var(--dropdown);
  box-shadow: var(--box-shadow);
  .selectorSelected-1_M1WV {
    background-color: var(--dropdown-item-hover);
  }
  .container-cMG81i {
    background-color: var(--background-1);
  }
  .focused-1En8bG:after,
  .result-3w1ZcL:hover:after {
    box-shadow: inset 0 0 0 2px rgba(var(--accent), 1);
  }
  .categoryFadeBlurple-1j72_A {
    background: rgba(var(--accent), 0.5);
  }
}