#app-mount {
	.autocomplete-1vrmpx {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		.categoryHeader-O1zU94 {
			background: var(--background-light);
		}
	}
	.selected-1Tbx07 {
		background: var(--background-alt);
	}
}