#app-mount .emojiPicker-3m1S-j {
  background: var(--dropdown);
  box-shadow: var(--box-shadow);
  .scroller-3vODG7 {
    height: var(--emoji-picker-height);
  }
  .searchBar-2pWH0_ {
    background: var(--dropdown-header);
  }
  .infoBar-U6oBFk {
    background: var(--dropdown);
    box-shadow: var(--box-shadow);
  }
  .stickyHeader-1SS0JU {
    background: var(--dropdown);
    opacity: 1;
  }
  .categories-1feg4n {
    background: var(--dropdown-header);
  }
  .popout-2nUePc {
    background: var(--dropdown);
    box-shadow: var(--box-shadow);
  }
}