#app-mount {
  .container-3iAQ-0 {
    margin: 20px 0;
  }
  .channelHeader-3Gd2xq {
    background: var(--background-light-alt);
    padding: 16px;
  }
  .messageContainer-gbhlwo {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background: var(--background-alt);
  }
}