#app-mount .messagesPopoutWrap-1MQ1bW {
  background-color: var(--dropdown);
  box-shadow: var(--box-shadow);
  border: none;
  .header-ykumBX {
    background-color: var(--dropdown-header);
    box-shadow: var(--box-shadow);
  }
  .container-3iAQ-0 {
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 10px 0 10px;
    border-radius: 5px;
    background: var(--dropdown-item-hover);
  }
  .channelHeader-3Gd2xq {
    background: transparent;
  }
  .messageContainer-gbhlwo {
    background: var(--dropdown);
  }
  .button-1-5Aqk {
    background: var(--message-button);
  }
}