#app-mount {
  .messagesPopoutWrap-1MQ1bW {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  .header-ykumBX {
    background: var(--background-alt);
    box-shadow: var(--box-shadow);
    z-index: 2;
  }
  .messageGroupWrapper-o-Zw7G {
    background: var(--background-alt);
    border: none;
  }
  .messageGroupCozy-2iY6cT {
    margin-left: 0;
    margin-right: 0;
  }
}