#app-mount .layer-v9HyYc[style*="left"][style*="bottom"] .container-2x5lvQ {
  background: var(--dropdown);
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  header {
    background: var(--dropdown-header);
  }
  section {
    background-color: transparent;
  }
}