#app-mount {
  .searchResultsWrap-5RVOkx {
    background: var(--background-alt);
    border-top-left-radius: var(--border-radius);
  }
  .searchHeader-1r_ZSh {
    background: var(--background-light);
    box-shadow: var(--box-shadow-alt);
  }
  .channelName-3w2Y3c {
    background: var(--background-alt);
  }

  .searchResult-O9NDji {
    border: none;
    background: var(--background-light);
  }
  .searchResultMessage-1fxgXh {
    .cozy-VmLDNB {
      margin: 0;
    }

    &:not(.hit-1fVM9e) .cozy-VmLDNB:before {
      content: none;
    }
    &.hit-1fVM9e {
      box-shadow: 0 0 10px 6px var(--background-alt);
      border: none;
      border-radius: var(--border-radius);
      .cozy-VmLDNB {
        background: var(--background-light);
      }
    }
  }
}