#app-mount {
  .container-3ayLPN {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
  }
  .option-96V44q {
    &:after {
      background: linear-gradient(90deg, transparent, var(--background-light));
    }
    &.selected-rZcOL- {
      background: var(--background-alt);
    }
  }
}