#app-mount {
  .container-2McqkF {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
  }
  .option-ayUoaq {
    &:after {
      background: linear-gradient(90deg, transparent, var(--background-light));
    }
    &.selected-rZcOL- {
      background: var(--background-alt);
    }
  }
}