.theme-dark,
html.theme-dark #app-mount .theme-light .root_f9a4c9,
html.theme-dark .force-theme.theme-light {
  --dark-bg-h: var(--dark-bg-hue, 218);
  --dark-bg-s: var(--dark-bg-saturation, 15%);
  --dark-bg-l: var(--dark-bg-lightness, 11%);

  // Background
  --background-light: hsl(var(--dark-bg-h) var(--dark-bg-s) calc(var(--dark-bg-l) + 5%));
  --background-light-alt: hsl(var(--dark-bg-h) var(--dark-bg-s) calc(var(--dark-bg-l) + 3.5%));
  --background: hsl(var(--dark-bg-h) var(--dark-bg-s) var(--dark-bg-l));
  --background-alt: hsl(var(--dark-bg-h) var(--dark-bg-s) calc(var(--dark-bg-l) + 2%));
  --background-dark: hsl(var(--dark-bg-h) var(--dark-bg-s) calc(var(--dark-bg-l) - 2%));

  // Text colours
  --text-normal: hsl(var(--dark-bg-h) 10% 65%);
  --text-muted: hsl(var(--dark-bg-h) 10% 30%);
  --text-focus: #fff;

  // Font weights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  // Box shadows
  --box-shadow: 0 4px 9px rgb(0 0 0 / 0.4);
  --box-shadow-alt: 0 2px 5px rgb(0 0 0 / 0.3);

  // Scrollbars
  --scrollbar-colour: var(--background-light);

  // Messages
  --edit-message-box: var(--background-light);
  --message-background: var(--background-alt);

  // Stupid Discord vars
  --header-primary: var(--text-focus);
}