#app-mount .pageWrapper-1PgVDX {
  background-color: var(--background-1);
  .bg-AYqtMd {
    display: none;
  }
  .card-3DjzTQ {
    border-radius: 5px;
  }
  .card-3DjzTQ, .css-1wqqa50-container, .searchBox-3Y2Vi7 {
    background-color: var(--pages-box);
    box-shadow: var(--box-shadow);
  }
}