#app-mount {
  .container-2cd8Mz {
    background: var(--background);
  }
  .tabBody-2dgbAs:before {
    content: none;
  }

  .title-338goq {
    margin: 20px;
  }
  .peopleListItem-u6dGxF {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    border: none;
    line-height: normal;
    margin: 0 20px 10px 20px;
    padding: 0 15px;
    &:hover {
      background: var(--background-light);
      .actionButton-3-B2x- {
        background: var(--background);
      }
    }
  }
  .actionButton-3-B2x- {
    background: var(--background-dark);
  }



	.scroller-hE2gWq {
		border: none;
		padding-left: 0;
	}
	.container-1oAagU {
		background: var(--background);
	}
  .nowPlayingColumn-1eCBCN {
    background: transparent;
  }
  .nowPlayingScroller-12BxFW {
    padding: 20px;
  }
  .header-13Cw0- {
    padding: 0 0 20px 0;
  }
  .emptyCard-KDifrB {
    background: var(--background-alt);
    border-radius: var(--border-radius);
  }

  .wrapper-2RrXDg {
    background: var(--background-alt);
    border-radius: var(--border-radius);
		border: none;
    &:hover {
      background: var(--background-light);
      .inset-SbsSFp {
        background: var(--background-alt);
      }
    }
  }
	.section-3G9aLW {
		background: var(--background-light);
	}
  .inset-SbsSFp {
    background: var(--background);
  }
}