#app-mount {
  .privateChannels-1nO12o {
    background: transparent;
  }
  .channel-2QD9_O {
    margin-left: 0;
    border-radius: 0;
    padding: 0;
    margin-bottom: 3px;
    .layout-2DM8Md {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      padding-left: 16px;
    }

    &.selected-aXhQR6 .layout-2DM8Md:before {
      content: "";
      position: absolute;
      left: 0;
      width: 4px;
      height: 100%;
      background: rgba(var(--accent), 1);
    }
  }
}