#app-mount {
  .scroller-9moviB {
    background: var(--background);
  }
  .detailsBlock-FoDTGA {
    background: var(--background-alt);
  }
  .feature-2w65J5 {
    background: var(--background-alt);
  }
}