#app-mount {
    // Main Info Box
    .accountProfileCard__1fed1 {
        background: var(--background-dark);
    }
    .background__1fed1, .fieldList__1fed1 {
        background: var(--background-alt);
    }

    // Security Keys
    .credentialList__6c75d {
        background: var(--background-light-alt);
    }
}