#app-mount {
    // Main Info Box
    ._1fed1dd06c7aabf7-accountProfileCard {
        background: var(--background-dark);
    }
    ._1fed1dd06c7aabf7-background, ._1fed1dd06c7aabf7-fieldList {
        background: var(--background-alt);
    }

    // Security Keys
    ._6c75d92c128c46b0-credentialList {
        background: var(--background-light-alt);
    }
}