#app-mount .layer_d4b6c5:not(.baseLayer_d4b6c5) {
	.authedApp_f0135d {
		background: var(--background-alt);
		border-radius: var(--border-radius);
		border: none;
	}
	.accountBtnInner-3XK70s {
		background-color: var(--background-light);
	}
	.connection-107AGH {
		background: var(--background-alt);
	}
	.connectionHeader-2rV1ze {
		background: var(--background-light-alt);
	}
	.integration-1f5IUi {
		background: var(--background);
	}
}
