#app-mount .layer__2efaa:not(.baseLayer__8fda3) {
  .authedApp__51b26 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    border: none;
  }
  .accountBtnInner-3XK70s {
    background-color: var(--background-light);
  }
  .connection-107AGH {
    background: var(--background-alt);
  }
  .connectionHeader-2rV1ze {
    background: var(--background-light-alt);
  }
  .integration-1f5IUi {
    background: var(--background);
  }
}