#app-mount .layer__960e4:not(.baseLayer__960e4) {
	.paymentPane__01014 {
		background: var(--background-alt);
	}
	.paginator__01014 {
		background: transparent;
	}
	.bottomDivider__01014 {
		border: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.payment_e9cb00 {
		background: transparent;
		&:hover {
			background: var(--background-light-alt);
		}
		&:not(.hoverablePayment_e9cb00) {
			background: var(--background-light);
			padding-bottom: 20px;
		}
	}
	.expandedInfo_e9cb00 {
		background: var(--background-light-alt);
		margin: 0 20px;
	}
}
