#app-mount .layer__2efaa:not(.baseLayer__8fda3) {
  .connectContainer__8050b {
    background: var(--background-light);
    margin-bottom: 55px;
  }
  .accountButtonInner__80e3a {
    background-color: var(--background-light-alt);
    &:hover {
      background-color: var(--background);
    }
  }

  .connection_fff5f6 {
    background: var(--background-alt);
  }
  .connectionHeader__3c82d {
    background: var(--background-light-alt);
  }

  .metadataContainer__7b316 {
    background: var(--background);
    padding: 16px;
  }
  .integration_d2f026 {
    background: var(--background-alt);
  }
}