#app-mount .layer__960e4:not(.baseLayer__960e4) {
	.connectContainer_c7f964 {
		background: var(--background-light);
		margin-bottom: 55px;
	}
	.accountButtonInner_c7f964 {
		background-color: var(--background-light-alt);
		&:hover {
			background-color: var(--background);
		}
	}

	.connection_c7f964 {
		background: var(--background-alt);
	}
	.connectionHeader_c7f964 {
		background: var(--background-light-alt);
	}

	.metadataContainer_c7f964 {
		background: var(--background);
		padding: 16px;
	}
	.integration_c7f964 {
		background: var(--background-alt);
	}
}
