#app-mount {
    // Authorized Apps
    // Info box
    ._730694f5672c9601-card {
        background: var(--background-light-alt); 
        border: none;
    }

    // Cards
    .d84e0fd1f07926c7-actionMenuButton {
        background: var(--background-light);
    }
    ._50a5493e9d9cc496-headerV2 {
        background: var(--background-alt);
    }
    ._50a5493e9d9cc496-appDetailsContainer {
        background: var(--background-light-alt);
    }
    ._50a5493e9d9cc496-appAvatarV2 {
        border: none;
    }

    // Connections
    //Cards
    .c7f964e7e0fc8b47-connection {background: var(--background-light-alt);
        border: none;
    }
    // Subscription enabled Servers box
    .c7f964e7e0fc8b47-integrationWrapper {background: var(--background);
    }
    // Metadata box
    .c7f964e7e0fc8b47-metadataContainer {background: var(--background);
        border: none;
    }
}