#app-mount {
    // Cards
    .box_f8c98c {
        background: var(--background-light-alt);
        border: none;
        box-shadow: none;
    }
    .row__0624f {
        background: var(--background-dark);
        border: none;
    }
}