#app-mount {
    // Cards
    .f8c98cc3d7c1bc42-box {
        background: var(--background-light-alt);
        border: none;
        box-shadow: none;
    }
    ._0624fc41b766635c-row {
        background: var(--background-dark);
        border: none;
    }
}