// New Settings Modal
#app-mount {
    // Left scroller
    .modalContent_e44912 {
        background: var(--background);
    }
    .sidebar__409aa {
        border: none;
    }

    // Shadow under the search bar
    .fixedContent__409aa:after {
        background: none;
    }

    // Searchbar border
    .wrapper__72c38 { 
        border: none;
    }

    // Right "main" side + header
    .content_e9e3ed, 
    .contentHeader_e9e3ed  { 
        background: var(--background); 
        border: none;
    }
}