// New Settings Modal
#app-mount {
    // Left scroller
    .e4491282b6a5364a-modalContent {
        background: var(--background);
    }
    ._409aa1aeee28d5f7-sidebar {
        border: none;
    }

    // Shadow under the search bar
    ._409aa1aeee28d5f7-fixedContent:after {
        background: none;
    }

    // Searchbar border
    ._72c3859781ebce8f-wrapper { 
        border: none;
    }

    // Right "main" side + header
    .e9e3ed8b8badfe05-content, 
    .e9e3ed8b8badfe05-contentHeader  { 
        background: var(--background); 
        border: none;
    }
}