#app-mount {
    // Blocked Accounts
    ._5cea9da4c2ca012f-card {
        background: var(--background-alt);
        box-shadow: none;
    }
    ._5cea9da4c2ca012f-header {
        background: var(--background-dark);
    }
}