#app-mount {
    // Blocked Accounts
    .card__5cea9 {
        background: var(--background-alt);
        box-shadow: none;
    }
    .header__5cea9 {
        background: var(--background-dark);
    }
}