#app-mount [aria-label="GUILD_SETTINGS"] {
  .children_b15c64 > .flex-1xMQg5.flex__909d4 {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    padding: 16px;
  }
  .micTest-bjZA-b {
    background: var(--background-alt);
    border-radius: var(--border-radius);
    padding: 16px;
    margin-top: 20px;
    .marginTop8__83d4b {
      margin-top: 0;
    }
  }
  .container__6d33c {
    width: 530px !important;
  }
  .notches__065e9 {
    background: none;
  }
}