#app-mount {
  .title-3qD0b-,
  .container-1r6BKw {
    background: var(--background);
  }
  .children-19S4PO:after {
    content: none;
  }
  .searchBar-3dMhjb {
    background: var(--background-dark);
  }
}