#app-mount {
  .title-3qD0b-,
  .container-ZMc96U {
    background: var(--background);
  }
  .children-3xh0VB:after {
    content: none;
  }
  .searchBar-zdmu7v {
    background: var(--background-dark);
  }
}