#app-mount {
  .tooltipBlack-PPG47z {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
  }
  .tooltipPointer-3ZfirK {
    border-top-color: var(--background-light);
  }
  .tooltipContent-bqVLWK {
    color: var(--text-focus);
    font-weight: var(--font-weight-bold);
  }
}