#app-mount {
  .tooltipGrey-1hnvTt {
    background: var(--background-light);
  }
  .tooltipPrimary-1d1ph4 {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
  }
  .tooltipPointer-3ZfirK {
    border-top-color: var(--background-light);
  }
  .tooltipContent-bqVLWK {
    color: var(--text-focus);
    font-weight: var(--font-weight-bold);
  }
}