#app-mount {
  // Server
  .wrapper-1BJsBx {
    &.selected-bZ3Lue .childWrapper-anI2G9 {
      background: rgb(var(--accent), 1);
    }
  }
  .childWrapper-anI2G9 {
    background: var(--background-light);
  }

  // Add/Join server & Server Discovery
  .circleIconButton-1QV--U {
    background: var(--background-light);
    &:hover {
      background: rgb(var(--discord-green) / 1);
    }
  }
}