#app-mount {
	// Brand/Blurple buttons
	._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand {
		background: rgb(var(--accent), 1);
		color: var(--accent-text);
		font-weight: 600;
		transition: box-shadow 0.2s ease;
		&:hover {
			box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0, 0.1);
		}
		&:focus,
		&:active {
			box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0, 0.2);
		}
	}

	// Outlined
	.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
		border-color: var(--text-normal);
		color: var(--text-normal);
	}

	// Panel buttons
	._201d5e8a3c09670a-button.e131a99484292a19-buttonColor {
		background: var(--background-light);
		&:hover {
			background: rgb(var(--accent), 1);
			color: #fff;
		}
	}
}
