#app-mount {
	._3f21e80f8677ec40-container {
		transition: 0.15s ease background-color;
		background: var(--background-dark) !important;
		&._3f21e80f8677ec40-checked {
			background: rgb(var(--accent)) !important;
		}
		&:not([style*='rgb(128'], ._3f21e80f8677ec40-checked) {
			background: rgb(var(--accent), 0.5) !important;
		}
	}

	// Checkbox row
	.control__0d850.row-31nALW {
		background: var(--background-light);
		&.checked-1pZh2h ._3f21e80f8677ec40-slider {
			background: rgb(var(--accent), 1) !important;
			border-color: rgb(var(--accent), 1) !important;
		}
	}

	// Menu Checkbox
	[role='menuitemcheckbox'][aria-checked='true'] {
		.c1e9c47c23f12ca3-checkbox {
			color: rgb(var(--accent), 1);
		}
		.c1e9c47c23f12ca3-check {
			color: var(--accent-text);
		}
		&.c1e9c47c23f12ca3-focused {
			.c1e9c47c23f12ca3-checkbox {
				color: var(--accent-text);
			}
			.c1e9c47c23f12ca3-check {
				color: rgb(var(--accent), 1);
			}
		}
	}
}
