#app-mount {
  .container-1QtPKm {
    transition: .15s ease background-color;
    background: var(--background-dark) !important;
    &.checked-16gMAN {
      background: rgb(var(--accent)) !important;
    }
    &:not([style*="rgb(128"], .checked-16gMAN) {
      background: rgb(var(--accent), .5) !important;
    }
  }

  // Checkbox row
  .control-10qYax.row-31nALW {
    background: var(--background-light);
    &.checked-1pZh2h .slider-HJFN2i {
      background: rgb(var(--accent), 1) !important;
      border-color: rgb(var(--accent), 1) !important;
    }
  }

  // Menu Checkbox
  [role="menuitemcheckbox"][aria-checked="true"] {
    .checkbox-397WsK {
      color: rgb(var(--accent), 1);
    }
    .check-3-73a4 {
      color: var(--accent-text);
    }
    &.focused-3LIdPu {
      .checkbox-397WsK {
        color: var(--accent-text);
      }
      .check-3-73a4 {
        color: rgb(var(--accent), 1);
      }
    }
  }
}