#app-mount {
	.container__3f21e {
		transition: 0.15s ease background-color;
		background: var(--background-dark) !important;
		&.checked__3f21e {
			background: rgb(var(--accent)) !important;
		}
		&:not([style*='rgb(128'], .checked__3f21e) {
			background: rgb(var(--accent), 0.5) !important;
		}
	}

	// Checkbox row
	.control__0d850.row-31nALW {
		background: var(--background-light);
		&.checked-1pZh2h .slider__3f21e {
			background: rgb(var(--accent), 1) !important;
			border-color: rgb(var(--accent), 1) !important;
		}
	}

	// Menu Checkbox
	[role='menuitemcheckbox'][aria-checked='true'] {
		.checkbox_c1e9c4 {
			color: rgb(var(--accent), 1);
		}
		.check_c1e9c4 {
			color: var(--accent-text);
		}
		&.focused_c1e9c4 {
			.checkbox_c1e9c4 {
				color: var(--accent-text);
			}
			.check_c1e9c4 {
				color: rgb(var(--accent), 1);
			}
		}
	}
}
