#app-mount {
  .container__2ed72 {
    transition: .15s ease background-color;
    background: var(--background-dark) !important;
    &.checked__36fdc {
      background: rgb(var(--accent)) !important;
    }
    &:not([style*="rgb(128"], .checked__36fdc) {
      background: rgb(var(--accent), .5) !important;
    }
  }

  // Checkbox row
  .control__6a084.row-31nALW {
    background: var(--background-light);
    &.checked-1pZh2h .slider__41d94 {
      background: rgb(var(--accent), 1) !important;
      border-color: rgb(var(--accent), 1) !important;
    }
  }

  // Menu Checkbox
  [role="menuitemcheckbox"][aria-checked="true"] {
    .checkbox__378d3 {
      color: rgb(var(--accent), 1);
    }
    .check__8d1bd {
      color: var(--accent-text);
    }
    &.focused_dcafb9 {
      .checkbox__378d3 {
        color: var(--accent-text);
      }
      .check__8d1bd {
        color: rgb(var(--accent), 1);
      }
    }
  }
}