#app-mount ._0ed4fc708cdbac0d-input:not(.multiInput-1VARjC) {
	background: var(--background);
	border: 1px solid var(--background);
	border-radius: var(--border-radius);
	&:hover {
		border-color: var(--background-light);
	}
	&:focus {
		border-color: rgb(var(--accent), 1);
	}
}
