#app-mount .input__0ed4f:not(.multiInput-1VARjC) {
	background: var(--background);
	border: 1px solid var(--background);
	border-radius: var(--border-radius);
	&:hover {
		border-color: var(--background-light);
	}
	&:focus {
		border-color: rgb(var(--accent), 1);
	}
}
