#app-mount {
  [role="radiogroup"] .item_b7fb7e {
    background: var(--background-alt);
    &:hover {
      background: var(--background-light);
    }
    &[aria-checked="true"] {
      .radioBar__40e1b {
        background: rgb(var(--accent));
        color: var(--accent-text);
        &[style*="--radio-bar-accent-color"] {
          background: var(--radio-bar-accent-color);
          color: #fff;
          .radioIconForeground__99b9b {
            color: #fff;
          }
        }
      }
      .radioIconForeground__99b9b,
      .colorStandard-21JIj7,
      .colorHeaderSecondary-g5teka {
        color: var(--accent-text);
      }
    }
  }
  .children_b15c64 > .marginBottom40__9109c .item_b7fb7e,
  .marginBottom20__64605 .item_b7fb7e {
    background: var(--background-alt);
    &[aria-checked="true"] {
      background: rgb(var(--accent));
      color: var(--accent-text);
      .radioIconForeground__99b9b {
        color: var(--accent-text);
      }
    }
  }

  // Menu Radio
  [role="menuitemradio"][aria-checked="true"] {
    .radioSelection__5ed39 {
      color: rgb(var(--accent), 1);
    }
    &.focused__27621 .radioSelection__5ed39 {
      color: #fff;
    }
  }
}