#app-mount {
	[role='radiogroup'] ._88a69141dd70013a-item {
		background: var(--background-alt);
		&:hover {
			background: var(--background-light);
		}
		&[aria-checked='true'] {
			._88a69141dd70013a-radioBar {
				background: rgb(var(--accent));
				color: var(--accent-text);
				&[style*='--radio-bar-accent-color'] {
					background: var(--radio-bar-accent-color);
					color: #fff;
					.radioIconForeground__001a7 {
						color: #fff;
					}
				}
			}
			.radioIconForeground__001a7,
			.colorStandard-21JIj7,
			.colorHeaderSecondary-g5teka {
				color: var(--accent-text);
			}
		}
	}
	.children__7bffb > .fd297e0eff2da25e-marginBottom40 ._88a69141dd70013a-item,
	.fd297e0eff2da25e-marginBottom20 ._88a69141dd70013a-item {
		background: var(--background-alt);
		&[aria-checked='true'] {
			background: rgb(var(--accent));
			color: var(--accent-text);
			.radioIconForeground__001a7 {
				color: var(--accent-text);
			}
		}
	}

	// Menu Radio
	[role='menuitemradio'][aria-checked='true'] {
		.c1e9c47c23f12ca3-radioSelection {
			color: rgb(var(--accent), 1);
		}
		&.c1e9c47c23f12ca3-focused .c1e9c47c23f12ca3-radioSelection {
			color: #fff;
		}
	}
}
