#app-mount {
	[role='radiogroup'] .item__001a7 {
		background: var(--background-alt);
		&:hover {
			background: var(--background-light);
		}
		&[aria-checked='true'] {
			.radioBar__001a7 {
				background: rgb(var(--accent));
				color: var(--accent-text);
				&[style*='--radio-bar-accent-color'] {
					background: var(--radio-bar-accent-color);
					color: #fff;
					.radioIconForeground__001a7 {
						color: #fff;
					}
				}
			}
			.radioIconForeground__001a7,
			.colorStandard-21JIj7,
			.colorHeaderSecondary-g5teka {
				color: var(--accent-text);
			}
		}
	}
	.children__7bffb > .marginBottom40_fd297e .item__001a7,
	.marginBottom20_fd297e .item__001a7 {
		background: var(--background-alt);
		&[aria-checked='true'] {
			background: rgb(var(--accent));
			color: var(--accent-text);
			.radioIconForeground__001a7 {
				color: var(--accent-text);
			}
		}
	}

	// Menu Radio
	[role='menuitemradio'][aria-checked='true'] {
		.radioSelection_c1e9c4 {
			color: rgb(var(--accent), 1);
		}
		&.focused_c1e9c4 .radioSelection_c1e9c4 {
			color: #fff;
		}
	}
}
