#app-mount {
	.modal-3O0aXp,
	.root__49fc1 {
		background: var(--background-alt);
		box-shadow: var(--box-shadow);
	}
	.header__49fc1 {
		box-shadow: none;
	}
	.content-18dVld {
		padding: 0 24px 24px 24px;
	}
	.footer__49fc1 {
		background: var(--background);
		box-shadow: none;
		padding: 24px;
	}
}
