#app-mount {
	.modal-3O0aXp,
	._49fc18ba07c5025f-root {
		background: var(--background-alt);
		box-shadow: var(--box-shadow);
	}
	._49fc18ba07c5025f-header {
		box-shadow: none;
	}
	.content-18dVld {
		padding: 0 24px 24px 24px;
	}
	._49fc18ba07c5025f-footer {
		background: var(--background);
		box-shadow: none;
		padding: 24px;
	}
}
