#app-mount {
  .modal-3O0aXp,
  .root-g14mjS {
    background: var(--background);
    box-shadow: var(--box-shadow);
  }
  .header-1zd7se {
    box-shadow: none;
  }
  .footer-31IekZ {
    background: var(--background-alt);
    box-shadow: none;
  }
}