#app-mount {
	.ac6cb02cd15b4b3b-quickswitcher {
		background: var(--background);
	}
	.ac6cb02cd15b4b3b-scroller {
		background: transparent;
	}
	.ac6cb02cd15b4b3b-input {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		padding: 0 24px;
	}
}
