#app-mount {
  .quickswitcher_f4e139 {
    background: var(--background);
  }
  .scroller_f4e139 {
    background: transparent;
  }
  .input_f4e139 {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
    padding: 0 24px;
  }
}