#app-mount {
  .quickswitcher_a3d29a {
    background: var(--background);
  }
  .scroller__52ae7 {
    background: transparent;
  }
  .input__848cd {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
    padding: 0 24px;
  }
}