#app-mount .uploadModal-2ie9O_ {
	background: var(--background);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	.footer-VCsJQY {
		background: var(--background-alt);
		box-shadow: none;
	}
	.slateTextArea-27tjG0 {
		padding-left: 15px;
	}
}