#app-mount .uploadModal_eae2a0 {
	background: var(--background);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	.footer_ceda43 {
		background: var(--background-alt);
		box-shadow: none;
	}
	.slateTextArea__0661c {
		padding-left: 15px;
	}
}