#app-mount .uploadModal_b78547 {
	background: var(--background);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	.footer_b78547 {
		background: var(--background-alt);
		box-shadow: none;
	}
	.slateTextArea_ec4baf {
		padding-left: 15px;
	}
}
