#app-mount .uploadModal_f82cc7 {
	background: var(--background);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	.footer_f82cc7 {
		background: var(--background-alt);
		box-shadow: none;
	}
	.slateTextArea_e52116 {
		padding-left: 15px;
	}
}
