#app-mount {
	._2ea32c412048f708-wrapper {
		height: auto;
		margin-bottom: 2px;
		&._2ea32c412048f708-modeMuted ._2ea32c412048f708-name {
			color: var(--text-muted);
		}

		&._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon {
			color: var(--text-focus);
		}

		&._2ea32c412048f708-modeSelected {
			._2ea32c412048f708-icon {
				color: var(--text-focus);
			}
			&:before {
				content: '';
				position: absolute;
				top: 1px;
				height: calc(100% - 2px);
				width: 4px;
				background: rgb(var(--accent), 1);
				z-index: 1;
			}
		}

		&._2ea32c412048f708-typeThread ._2ea32c412048f708-link {
			padding-left: 42px;
		}
	}
	._5b40bdd67543ba35-spine {
		z-index: 1;
	}
	._2ea32c412048f708-wrapper {
		margin-left: 0;
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}
	._2ea32c412048f708-link {
		padding-left: 16px;
	}
	._2ea32c412048f708-unread {
		z-index: 2;
		left: 0;
	}

	// Voice
	.avatarSpeaking__07f91 {
		box-shadow:
			inset 0 0 0 2px rgb(var(--accent), 1),
			inset 0 0 0 3px var(--background);
	}

	._5e434347c823b592-sidebarList {
		border: none;
	}

}
