#app-mount {
  .wrapper__7bcde {
    height: auto;
    margin-bottom: 2px;
    &.modeMuted__0aeea .name__8d1ec {
      color: var(--text-muted);
    }

    &.modeUnread_f74c03 .icon_eff5d4 {
      color: var(--text-focus);
    }

    &.modeSelected__487d6 {
      .icon_eff5d4 {
        color: var(--text-focus);
      }
      &:before {
        content: "";
        position: absolute;
        top: 1px;
        height: calc(100% - 2px);
        width: 4px;
        background: rgb(var(--accent), 1);
        z-index: 1;
      }
    }

    &.typeThread__2f91c .link__95dc0 {
      padding-left: 42px;
    }
  }
  .spine__88e6d {
    z-index: 1;
  }
  .wrapper__7bcde {
    margin-left: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  .link__95dc0 {
    padding-left: 16px;
  }
  .unread__48cf4 {
    z-index: 2;
  }


  // Voice
  .avatarSpeaking_c95053 {
    box-shadow: inset 0 0 0 2px rgb(var(--accent), 1), inset 0 0 0 3px var(--background);
  }
}