#app-mount {
	.e6b7699ce8339e1c-privateChannels {
		background: transparent;
		._99e7cad8d4c55236-scroller {
			background: transparent;
		}
	}
	._972a0d22c8afa7f0-channel {
		margin-left: 0;
		border-radius: 0 4px 4px 0;
		padding: 0;
		margin-bottom: 3px;
		._20a53846fe2e8513-layout {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			padding-left: 16px;
		}

		.selected-3veCBZ::before {
			content: '';
			position: absolute;
			left: 0;
			width: 4px;
			height: 100%;
			background: rgb(var(--accent), 1);
		}
	}

	// right user profile
	.user-profile-sidebar .c0bea05627c5dc35-inner {
    	border-radius: 0;
    	height: 100%;
    	background: var(--background);
	}

  	._7f9c030b25536e94-footer {
    	border: none;
  	}

	// profile poput
  	._37bfcf3d457db7a9-tabListScroller {
  		overflow: visible!important;
  	}

	.user-profile-popout .c0bea05627c5dc35-inner {
		background: var(--background);
	}

	.c0bea05627c5dc35-inner {
		background: var(--background-dark);
	}

	.c0bea05627c5dc35-outer, ._9c3bea41fd465666-profile {
		outline: none;
	}

	.a99829deaf601327-container {
		border: none;
	}

	// Quest Poput when hovering in Memberlist
	._0bd12176bed6b72a-container {
    	background-color: var(--background-light)
	}
}