#app-mount {
	.privateChannels_e6b769 {
		background: transparent;
		.scroller__99e7c {
			background: transparent;
		}
	}
	.channel__972a0 {
		margin-left: 0;
		border-radius: 0 4px 4px 0;
		padding: 0;
		margin-bottom: 3px;
		.layout__20a53 {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			padding-left: 16px;
		}

		.selected-3veCBZ::before {
			content: '';
			position: absolute;
			left: 0;
			width: 4px;
			height: 100%;
			background: rgb(var(--accent), 1);
		}
	}

	// right user profile
	.user-profile-sidebar .inner_c0bea0 {
    	border-radius: 0;
    	height: 100%;
    	background: var(--background);
	}

  	.footer__7f9c0 {
    	border: none;
  	}

	// profile poput
  	.tabListScroller__37bfc { /* remove wonky bar in big profile popout when hovering over the tabs on the right */
  		overflow: visible!important;
  	}

	.user-profile-popout .inner_c0bea0 {
		background: var(--background);
	}

	.inner_c0bea0 {
		background: var(--background-dark);
	}

	.outer_c0bea0, .profile__9c3be {
		outline: none;
	}

	.container_a99829 {
		border: none;
	}

	// Quest Poput when hovering in Memberlist
	.container_f528aa {
    	background-color: var(--background-light)
	}
}