#app-mount {
  .selected__0b1ad .header__104ca {
    background: transparent;
  }
  .header__104ca {
    box-shadow: none;
    &:hover {
      background: transparent;
    }
  }

  .searchBar_e4ea2a {
    box-shadow: none;
  }
  .searchBarComponent__22760 {
    background: var(--background-dark);
  }
}