#app-mount {
	.selected_f37cb1 .header_f37cb1 {
		background: transparent;
	}
	.header_f37cb1 {
		box-shadow: none;
		border: none;
		&:hover {
			background: transparent;
		}
	}

	.searchBar_e6b769 {
		box-shadow: none;
		border: none;
	}
	.searchBarComponent__35e86 {
		background: var(--background-dark);
	}
}
