#app-mount {
	.selected_f37cb1 .f37cb1984c371ee5-header {
		background: transparent;
	}
	.f37cb1984c371ee5-header {
		box-shadow: none;
		border: none;
		&:hover {
			background: transparent;
		}
	}

	.e6b7699ce8339e1c-searchBar {
		box-shadow: none;
		border: none;
	}
	.searchBarComponent__35e86 {
		background: var(--background-dark);
	}
}
