#app-mount {
	._5e434347c823b592-panels {
		background: var(--background);
	}
	._5e434347c823b592-activityPanel ._37e49614b9f110a9-container {
		background: transparent;
	}
	._37e49614b9f110a9-container,
	._5e434347c823b592-activityPanel {
		background: transparent;
		border: none;
	}

	._7d20cf18f8a2784c-scroller {
		border: none;
	}

	// Quest-Box in the activity feed
	._11054c9baccea7a2-wrapper {
		background: var(--background-light);
	}

}
