#app-mount {
	.panels__5e434 {
		background: var(--background);
	}
	.activityPanel__5e434 .container__37e49 {
		background: transparent;
	}
	.container__37e49,
	.activityPanel__5e434 {
		background: transparent;
		border: none;
	}
}
