#app-mount {
	.panels_c48ade {
		background: var(--background);
	}
	.activityPanel_c48ade .container__37e49 {
		background: transparent;
	}
	.container__37e49,
	.activityPanel_c48ade {
		background: transparent;
		border: none;
	}
}
