#app-mount ._5e434347c823b592-sidebar ._3b95d7d910416e54-bar {
	border-radius: var(--border-radius);
	background: var(--background-light);
	box-shadow: var(--box-shadow);
	color: var(--text-normal);
}
