#app-mount {
  .newMessagesBar__8b6d7 {
    background: rgb(var(--accent), 1);
    border-radius: var(--border-radius);
    top: 10px;
    left: 26px;
    right: 26px;
    button {
      color: var(--accent-text);
      font-weight: 600;
    }
  }
  .jumpToPresentBar__0ff7f {
    background: var(--background-light);
    opacity: 1;
    border-radius: var(--border-radius);
    left: auto;
    box-shadow: var(--box-shadow);
    bottom: 20px;
    padding-bottom: 0;
    .barButtonMain-3K-jeJ {
      display: none;
    }
    .barButtonBase__8fa46 {
      padding: 10px;
      height: auto;
      line-height: normal;
      color: var(--text-normal);
    }
    .spinner__20584 {
      padding-left: 12px;
    }
  }

  // Reply to message
  .attachedBars_da3c74 {
    background: var(--background);
  }
  .replyBar_b64d74 {
    background: var(--background-light);
  }
}