#app-mount {
	._0f481cbbd7530492-newMessagesBar {
		background: rgb(var(--accent), 1);
		border-radius: var(--border-radius);
		border: none;
		top: 10px;
		left: 26px;
		right: 26px;
		button {
			color: var(--accent-text);
			font-weight: 600;
		}
	}
	._0f481cbbd7530492-jumpToPresentBar {
		background: var(--background-light);
		opacity: 1;
		border-radius: var(--border-radius);
		border: none;
		left: auto;
		box-shadow: none;
		bottom: 20px;
		padding-bottom: 0;
		.barButtonMain-3K-jeJ {
			display: none;
		}
		._0f481cbbd7530492-barButtonBase {
			padding: 10px;
			height: auto;
			line-height: normal;
			color: var(--text-normal);
		}
		._0f481cbbd7530492-spinner {
			padding-left: 12px;
		}
	}

	// Reply to message
	._740174f3d6a2c8fe-stackedBars {
		background: var(--background);
	}
	._841c8f861f7b2704-replyBar {
		background: var(--background-light);
	}
}
