#app-mount {
	.chat_f75fb0 {
		background: var(--background);
		border: none;
		.scrollerSpacer__36d07 {
			height: 25px;
		}
		.content_f75fb0:before {
			content: none;
		}
	}
	.chatContent_f75fb0 {
		background: transparent;
	}
	.operations_bab751 > a {
		color: rgb(var(--accent), 1);
	}

    div.page__5e434 {
        border: none;
    }
}
