#app-mount {
  .chat-2ZfjoI {
    background: var(--background);
    .scrollerSpacer-3AqkT9 {
      height: 25px;
    }
    .content-1jQy2l:before {
      content: none;
    }
  }
  .operations-3q3u6E > a {
    color: rgb(var(--accent), 1);
  }
}