#app-mount {
  .chat-9g_3Xj {
    background: var(--background);
    .scrollerSpacer-3AqkT9 {
      height: 25px;
    }
    .content-18rAwf:before {
      content: none;
    }
  }
  .chatContent-2O4SXb {
    background: transparent;
  }
  .operations-3q3u6E > a {
    color: rgb(var(--accent), 1);
  }
}