#app-mount {
	.f75fb00fb7356cbe-chat {
		background: var(--background);
		border: none;
		._36d072eab2b2e737-scrollerSpacer {
			height: 25px;
		}
		.f75fb00fb7356cbe-content:before {
			content: none;
		}
	}
	.f75fb00fb7356cbe-chatContent {
		background: transparent;
	}
	.bab7519355c8eed6-operations > a {
		color: rgb(var(--accent), 1);
	}

    div._5e434347c823b592-page {
        border: none;
    }
}
