#app-mount ._908e20001ad67812-divider {
	&._908e20001ad67812-isUnread {
		margin: calc(var(--message-padding) / -1 + (var(--message-padding) / 2)) 8px var(--message-padding)
			calc(55px + (var(--message-padding) * 2));
		height: 0;
		top: 0;
		&._5126c0cd07f243a0-beforeGroup {
			margin: var(--message-spacing) 8px var(--message-spacing) 20px;
		}
	}
	&._908e20001ad67812-hasContent {
		margin: calc(var(--message-spacing) * 2) 0 calc(var(--message-spacing) * 2) 20px;

		._908e20001ad67812-content {
			background: var(--background-light);
			padding: 4px 8px;
			line-height: normal;
			font-weight: var(--font-weight-semibold);
			border-radius: var(--border-radius);
			color: var(--text-normal);
		}

		&:not(._908e20001ad67812-isUnread) {
			border-top: none;
			height: auto;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				background: var(--background-light);
				height: 1px;
				z-index: -1;
			}
		}
	}
}
