#app-mount .divider__855e3 {
  &.isUnread_de09f5 {
    margin: calc(var(--message-padding) / -1 + (var(--message-padding) / 2)) 8px var(--message-padding) calc(55px + (var(--message-padding) * 2));
    height: 0;
    top: 0;
    &.beforeGroup__6532c {
      margin: var(--message-spacing) 8px var(--message-spacing) 20px;
    }
  }
  &.hasContent_c79a1f {
    margin: calc(var(--message-spacing) * 2) 0 calc(var(--message-spacing) * 2) 20px;

    .content__7191e {
      background: var(--background-light);
      padding: 4px 8px;
      line-height: normal;
      font-weight: var(--font-weight-semibold);
      border-radius: var(--border-radius);
      color: var(--text-normal);
    }

    &:not(.isUnread_de09f5) {
      border-top: none;
      height: auto;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        background: var(--background-light);
        height: 1px;
        z-index: -1;
      }
    }
  }
}