#app-mount {
  // Chat box
  .form_d8a4a1 {
    &:before {
      content: none;
    }
  }
  .scrollableContainer_ff917f {
    background: var(--background-alt);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

  }
  .placeholder_dec8c7 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 12px;
  }
  .placeholder_dec8c7,
  .slateTextArea_b19976 {
    padding: 15px 15px 15px 0;
  }

  .attachButton__56f98 {
    padding: 15px 16px;
    height: 52px;
  }
  .buttons__7ecff {
    height: 52px;
  }

	// Announcement bar thingy
	.wrapper__57349 {
		background: var(--background-light);
	}

	// No perms
	.channelTextArea_c2094b {
		background: var(--background-alt);
	}
}