#app-mount {
	// Chat box
	.form_f75fb0 {
		--custom-channel-textarea-text-area-height: 52px;
		padding: 0 var(--space-md); /* align with message/chat boxes for a unified design*/
		&::before {
			content: none;
		}
	}
    .chatGradient__36d07{ /* remove black bar above/behind chatbar */
    background: none;
    }
	.scrollableContainer__74017 {
		background: var(--background-alt);
		border-radius: var(--border-radius);
	}
	.placeholder__1b31f {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1.5px;
		font-size: 12px;
	}
	.placeholder__1b31f,
	.slateTextArea_ec4baf {
		padding: 17px 15px 15px 0;
	}

    .attachWrapper__0923f { /* bring chatbox back to the old height with this */
        padding: 12px 10px;
    }

	.buttons__74017 {
		height: 54px;
	}
	// App launch button thing (WHY DISCORD????)
	.button_e6e74f {
		background: var(--background-alt);
		box-shadow: var(--box-shadow);
		&:hover {
			background: var(--background-light);
		}
	}

	// Announcement bar thingy
	.wrapper__44df5 {
		background: var(--background-light);
	}

	// No perms
	.channelTextArea_f75fb0 {
		background: var(--background-alt);
		border: none;
	}
}
