#app-mount {
  .f369dba7416c67f0-container, ._7e6bb757ba16c548-iconWrapper, .ca49a1898ddc29e3-container {
	  background: var(--background);
  }
  
  // Header
  .f369dba7416c67f0-header, .f369dba7416c67f0-matchingPostsRow, ._9a337c84ff86a914-container, .faa96b2163f6a142-container {
	  background: var(--background-alt);
  }
	.d9be463a3c35b91e-titleContainer {
	  align-items: center;
	  gap: 12px;
  }

  // Target the textarea input
  div[aria-label="Create Post"] ._89a343a153c6f2ec-textArea {
    padding: 8px 12px !important;
    border-radius: 6px !important;
    height: 40px;
    margin-top: 0px;
  }
    .d9be463a3c35b91e-bodyContainer {
      padding: 6px 6px !important;
      border-radius: 6px !important;
      margin-left: -6px;
      margin-right: 6px;
    }
	  .textAreaWithoutAttachmentButton__74017 {
        margin-left: 12px;
        margin-top: 2px;
      }

  .forumPostFormButton_d9be46, ._4bd5201c86a2042b-defaultColor {
    color: var(--interactive-normal);
  }

  .d9be463a3c35b91e-tagsDivider{
    	background-color: var(--background-light);
  }
	
  // Tags
  .a2c9e80f6531ccc2-pill, .f369dba7416c67f0-sortDropdown, .f369dba7416c67f0-tagsButton {
    color: var(--interactive-normal);
    background: var(--background-alt);
  }
}