#app-mount {
	// Chat box
	.f75fb00fb7356cbe-form {
		--custom-channel-textarea-text-area-height: 52px;
		padding: 0 var(--space-md);
		&::before {
			content: none;
		}
	}

	// Black Bar above / behind chatbar
    ._36d072eab2b2e737-chatGradient{
    	background: none;
    }
	._740174f3d6a2c8fe-scrollableContainer {
		background: var(--background-alt);
		border-radius: var(--border-radius);
	}
	._1b31f471f0bb10ab-placeholder {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1.5px;
		font-size: 12px;
	}
	._1b31f471f0bb10ab-placeholder,
	.ec4baf0360ff3578-slateTextArea {
		padding: 17px 15px 15px 0;
	}

	// Set old chatbox height
    ._0923f156a0410684-attachWrapper {
        padding: 12px 10px;
    }

	._740174f3d6a2c8fe-buttons {
		height: 54px;
	}

	// App launch button
	.e6e74fd4d1221f53-button {
		background: var(--background-alt);
		box-shadow: none;
		&:hover {
			background: var(--background-light);
		}
	}

	// Announcement bar
	._44df51b030bd5ece-wrapper {
		background: var(--background-light);
	}
	
	// No perms
	.f75fb00fb7356cbe-channelTextArea {
		background: var(--background-alt);
		border: none;
	}
}
