#app-mount {
  // Chat box
  .form_a7d72e {
    &:before {
      content: none;
    }
  }
  .scrollableContainer_d0696b {
    background: var(--background-alt);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

  }
  .placeholder_a552a6 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 12px;
  }
  .placeholder_a552a6,
  .slateTextArea_e52116 {
    padding: 15px 15px 15px 0;
  }

  .attachButton_f298d4 {
    padding: 15px 16px;
    height: 52px;
  }
  .buttons_d0696b {
    height: 52px;
  }

	// Announcement bar thingy
	.wrapper_faf5ab {
		background: var(--background-light);
	}

	// No perms
	.channelTextArea_a7d72e {
		background: var(--background-alt);
	}
}