#app-mount {
  .container_f369db, .iconWrapper__7e6bb, .container_ca49a1 {
	  background: var(--background);
  }
  
  // Header
  .header_f369db, .matchingPostsRow_f369db, .container__9a337, .container_faa96b {
	  background: var(--background-alt);
  }
	.titleContainer_d9be46 {
	  align-items: center;
	  gap: 12px;
  }

  // Target the textarea input
  div[aria-label="Create Post"] .textArea__89a34 {
    padding: 8px 12px !important;
    border-radius: 6px !important;
    height: 40px;
    margin-top: 0px;
  }
    .bodyContainer_d9be46 {
      padding: 6px 6px !important;
      border-radius: 6px !important;
      margin-left: -6px;
      margin-right: 6px;
    }
	  .textAreaWithoutAttachmentButton__74017 {
        margin-left: 12px;
        margin-top: 2px;
      }

  .forumPostFormButton_d9be46, .defaultColor__4bd52 {
    color: var(--interactive-normal);
  }

  .tagsDivider_d9be46{
    	background-color: var(--background-light);
  }
	
  // Tags
  .pill_a2c9e8, .sortDropdown_f369db, .tagsButton_f369db {
    color: var(--interactive-normal);
    background: var(--background-alt);
  }
}