#app-mount {
  // General messages
  .message_ccca67 {
    .scrollableContainer_ff917f {
      background: var(--edit-message-box);
      box-shadow: none;
      .slateTextArea_b19976 {
        padding-left: 15px;
      }
    }
		// Buttons
    .wrapper__4e6b6 {
      background: var(--background-light);
      box-shadow: var(--box-shadow-alt);
    }
    .button_d4bf9b {
			height: 100%;
      padding: 0 6px;
      &:hover {
        background: rgb(var(--accent), 1);
        color: var(--accent-text);
      }
      &.dangerous__8fbad:hover {
        background: rgb(var(--discord-red) / 1);
      }
    }
    &.selected_e3bc5d, &:hover {
      &::before {
        background: var(--message-hover, var(--background-alt));
      }
    }
  }

  // Cozy
  .cozy_f5c119 {
    background: transparent;
    padding-top: var(--message-padding);
    padding-bottom: var(--message-padding);
    padding-left: 0;
    margin-left: 16px;
    margin-right: 8px;
    position: relative;
    // Rounded background
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--message-border-radius, var(--border-radius));
      background: var(--background-alt);
      z-index: -1;
    }
    // Fix positioning for message contents (text and images)
    .contents_d3ae0d,
    .container__62863 {
      margin-left: calc(40px + (var(--message-padding) * 2));
    }
    // Fix positioning for avatar
    .avatar__08316 {
      left: var(--message-padding);
      top: var(--message-padding);
      margin-top: 0;
    }
    // Add custom spacing between messages
    &.groupStart__7b93c {
      margin-top: var(--message-spacing);
    }
    // Every message after groupStart that's not groupStart
    &.cozy_f5c119:not(.groupStart__7b93c) {
      margin-top: calc(var(--message-padding) / -1);
      padding-top: .175rem;
    }
    // Reduce negative margin and padding
    .messageContent_abea64 {
      margin-left: -5px;
      padding-left: 5px;
    }

    // Timestamps
    .timestamp_c79dd2.alt__6c563 {
      width: calc(40px + var(--message-padding));
      display: flex;
      justify-content: center;
    }

    // Mentioned
    &.mentioned_fa6fd2 {
      .messageContent_abea64 {
        position: relative;
        &:not(.repliedTextContent-1R3vnK) {
          color: var(--text-focus);
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0 var(--border-radius) 0 0;
          height: 100%;
          width: calc(100% - var(--message-padding));
          border-left: 2px solid rgb(var(--discord-yellow) / 1);
          background: var(--background-mentioned);
          pointer-events: none;
        }
      }
      .container__62863 {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          pointer-events: none;
          top: 0;
          left: -5px;
          height: 100%;
          width: calc(100% - var(--message-padding) + 5px);
          border-left: 2px solid rgb(var(--discord-yellow) / 1);
          background: var(--background-mentioned);
          border-radius: 0 0 var(--border-radius) 0;
        }
      }
    }

    // Replied quote
    .repliedMessage__636d2 {
      margin-left: calc(var(--message-padding) + 56px);
      & + .contents_d3ae0d {
        .avatar__08316, img {
          top: 32px;
        }
      }
      &:before {
        border-color: var(--text-muted);
      }
    }
    .repliedTextPreview__1a8a4 .messageContent_abea64 {
      padding-left: 8px;
      padding-right: 4px;
      margin-left: 0;
      &::after {
        left: 4px;
        width: 100%;
      }
    }

    // Thread bar thingy
    &.hasThread__44ae4::after {
      left: 1.8rem;
      top: 3.5rem;
      width: 1.5rem;
    }
  }

  // Codeblocks
  .hljs-comment {
    color: var(--text-muted);
  }

  // Mentions & Chat jumps
  .wrapper_f5f4c9 {
    background: rgb(var(--accent), 0.1);
    color: rgb(var(--accent), 1);
    &:hover, &.popout-open {
      background: rgb(var(--accent), 1);
      color: var(--accent-text);
    }
  }

  // Message placeholders
  .wrapper__11501 {
    background: transparent;
  }
  // Pretty much the same as #L3
  .wrapper__6b7d8 {
    background: transparent;
    padding-top: var(--message-padding);
    padding-bottom: var(--message-padding);
    padding-left: 0;
    margin-left: 16px;
    margin-right: 8px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--message-border-radius, var(--border-radius));
      background: var(--background-alt);
      z-index: -1;
    }
    .contents_d2b4c7,
    .attachmentContainer__019be {
      padding-left: calc(40px + (var(--message-padding) * 2));
    }
    .avatar__08316 {
      left: var(--message-padding);
      top: var(--message-padding);
      margin-top: 0;
    }
    &[style*="margin-top"] {
      margin-top: var(--message-spacing) !important;
    }
    & + .wrapper__6b7d8:not([style*="margin-top"]) {
      margin-top: calc(var(--message-padding) / -1);
      padding-top: .175rem;
    }
  }

  // Embeds
  .embedFull__14919 {
    background: var(--background-dark);
  }

  // Attachments
  .attachment__06ca3,
  .wrapperAudio__178e9 {
    background: var(--background-dark);
    border-radius: var(--border-radius);
    border: none;
  }
  .textContainer__65f57 {
    border: none;
    background: var(--background-dark);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .footer__90194 {
    background: var(--background);
    border: none;
  }

  // Code blocks
  pre code,
  code.inline {
    background: var(--background-dark);
    border-radius: var(--border-radius);
    border: none;
  }

	// Reactions
	.reaction_ef7e09 {
		background: var(--background);
		&.reactionMe__9fc5c {
			background: rgb(var(--accent), 0.2);
			border-color: rgb(var(--accent), 1);
			.reactionCount_b780c8 {
				color: rgb(var(--accent), 1);
			}
		}
	}

  // Spoilers
  .spoilerText-27bIiA.hidden-3B-Rum {
    background: var(--background-dark)
  }
}