#app-mount {
	// General messages
	._5126c0cd07f243a0-message {
		._740174f3d6a2c8fe-scrollableContainer {
			background: var(--edit-message-box);
			box-shadow: none;
			.ec4baf0360ff3578-slateTextArea {
				padding-left: 15px;
			}
		}
		// Buttons
		.f7ecaca5c80dbf3a-wrapper {
			background: var(--background-light);
			box-shadow: var(--box-shadow-alt);
		}
		.f7ecaca5c80dbf3a-button {
			height: 100%;
			padding: 0 6px;
			&:hover {
				background: rgb(var(--accent), 1);
				color: var(--accent-text);
			}
			&.f7ecaca5c80dbf3a-dangerous:hover {
				background: rgb(var(--discord-red) / 1);
			}
		}
		&._5126c0cd07f243a0-selected,
		&:hover {
			&::before {
				background: var(--message-hover, var(--background-alt));
			}
		}
	}

	// Cozy
	.c19a557985eb7793-cozy {
		background: transparent;
		padding-top: var(--message-padding);
		padding-bottom: var(--message-padding);
		padding-left: 0;
		margin-left: 16px;
		margin-right: 8px;
		position: relative;
		// Rounded background
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: var(--message-border-radius, var(--border-radius));
			background: var(--background-alt);
			z-index: -1;
		}
		// Fix positioning for message contents (text and images)
		.c19a557985eb7793-contents,
		.b7e1cb0370c2dd0e-container {
			margin-left: calc(40px + (var(--message-padding) * 2));
		}
		// Fix positioning for avatar
		.c19a557985eb7793-avatar {
			left: var(--message-padding);
			top: var(--message-padding);
			margin-top: 0;
		}
		// Add custom spacing between messages
		&._5126c0cd07f243a0-groupStart {
			margin-top: var(--message-spacing);
		}
		// Every message after groupStart that's not groupStart
		&.c19a557985eb7793-cozy:not(._5126c0cd07f243a0-groupStart) {
			margin-top: calc(var(--message-padding) / -1);
			padding-top: 0.175rem;
		}
		// Reduce negative margin and padding
		.c19a557985eb7793-messageContent {
			margin-left: -5px;
			padding-left: 5px;
		}

		// Timestamps
		.c19a557985eb7793-timestamp.c19a557985eb7793-alt {
			width: calc(40px + var(--message-padding));
			display: flex;
			justify-content: center;
		}

		// Mentioned
		&._5126c0cd07f243a0-mentioned {
			.c19a557985eb7793-messageContent {
				position: relative;
				&:not(.repliedTextContent-1R3vnK) {
					color: var(--text-focus);
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 0 var(--border-radius) 0 0;
					height: 100%;
					width: calc(100% - var(--message-padding));
					border-left: 2px solid rgb(var(--discord-yellow) / 1);
					background: var(--background-mentioned);
					pointer-events: none;
				}
			}
			.b7e1cb0370c2dd0e-container {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					pointer-events: none;
					top: 0;
					left: -5px;
					height: 100%;
					width: calc(100% - var(--message-padding) + 5px);
					border-left: 2px solid rgb(var(--discord-yellow) / 1);
					background: var(--background-mentioned);
					border-radius: 0 0 var(--border-radius) 0;
				}
			}
		}

		// Replied quote
		.c19a557985eb7793-repliedMessage {
			margin-left: calc(var(--message-padding) + 56px);
			& + .c19a557985eb7793-contents {
				.c19a557985eb7793-avatar,
				img {
					top: 32px;
				}
			}
			&:before {
				border-color: var(--text-muted);
			}
		}
		.c19a557985eb7793-repliedTextPreview .c19a557985eb7793-messageContent {
			padding-left: 8px;
			padding-right: 4px;
			margin-left: 0;
			&::after {
				left: 4px;
				width: 100%;
			}
		}

		// Reset role icon positioning in replies - Fix Nr 2
		[class^="roleIcon"] {
     		top: unset;
     		position: unset;
   		}

		// Thread bar thingy
		&.c19a557985eb7793-hasThread::after {
			left: 1.8rem;
			top: 3.5rem;
			width: 1.5rem;
		}
	}

	// Codeblocks
	.hljs-comment {
		color: var(--text-muted);
	}

	// Mentions & Chat jumps
	.wrapper_d4fa29 {
		background: rgb(var(--accent), 0.1);
		color: rgb(var(--accent), 1);
		&:hover,
		&.popout-open {
			background: rgb(var(--accent), 1);
			color: var(--accent-text);
		}
	}

	// Message placeholders
	._4106ae7c1472c1de-wrapper {
		background: transparent;
	}
	// Pretty much the same as #L3
	.fc817765600a960a-wrapper {
		background: transparent;
		padding-top: var(--message-padding);
		padding-bottom: var(--message-padding);
		padding-left: 0;
		margin-left: 16px;
		margin-right: 8px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: var(--message-border-radius, var(--border-radius));
			background: var(--background-alt);
			z-index: -1;
		}
		.fc817765600a960a-contents,
		.fc817765600a960a-attachmentContainer {
			padding-left: calc(40px + (var(--message-padding) * 2));
		}
		.c19a557985eb7793-avatar {
			left: var(--message-padding);
			top: var(--message-padding);
			margin-top: 0;
		}
		&[style*='margin-top'] {
			margin-top: var(--message-spacing) !important;
		}
		& + .fc817765600a960a-wrapper:not([style*='margin-top']) {
			margin-top: calc(var(--message-padding) / -1);
			padding-top: 0.175rem;
		}
	}

	// Embeds
	._623de82e76ad7f82-embedFull {
		background: var(--background-dark);
	}

	// Attachments
	._0ccaee68b77c7469-fileWrapper,
	.wrapperAudio_f316dd {
		background: var(--background-dark);
		border-radius: var(--border-radius);
		border: none;
	}
	._4d95d73152192cf9-textContainer {
		border: none;
		background: var(--background-dark);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
	}
	._4d95d73152192cf9-footer {
		background: var(--background);
		border: none;
	}

	// Code blocks
	pre code,
	code.inline {
		background: var(--background-dark);
		border-radius: var(--border-radius);
		border: none;
	}

	// Reactions
	.f8896c4f6be18f59-reaction {
		background: var(--background);
		&.f8896c4f6be18f59-reactionMe {
			background: rgb(var(--accent), 0.2);
			border-color: rgb(var(--accent), 1);
			.f8896c4f6be18f59-reactionCount {
				color: rgb(var(--accent), 1);
			}
		}
	}

	// Spoilers
	.spoilerText-27bIiA.hidden-3B-Rum {
		background: var(--background-dark);
	}
}
