#app-mount {
	.searchResultsWrap_a9e706 {
		background: var(--background-alt);
		border-top-left-radius: var(--border-radius);
	}
	.searchHeader_f3b986 {
		background: var(--background-light);
		box-shadow: var(--box-shadow-alt);
		.item-3XjbnG.selected-g-kMVV {
			background: rgb(var(--accent));
		}
	}
	.channelName-3w2Y3c {
		background: var(--background-alt);
	}

	.searchResult__02a39 {
		border: none;
		background: var(--background-light);
		.cozy_c19a55 {
			margin: 0 !important;
		}
	}
	.searchResultMessage-1fxgXh {
		.cozy_c19a55 {
			margin: 0;
		}

		&:not(.hit-1fVM9e) .cozy_c19a55:before {
			content: none;
		}
		&.hit-1fVM9e {
			box-shadow: 0 0 10px 6px var(--background-alt);
			border: none;
			border-radius: var(--border-radius);
			.cozy_c19a55 {
				background: var(--background-light);
			}
		}
	}
}
