#app-mount {
	.a9e7064fdee8e9b0-searchResultsWrap {
		background: var(--background-alt);
		border-top-left-radius: var(--border-radius);
	}
	.f3b986a284a18c78-searchHeader {
		background: var(--background-light);
		box-shadow: var(--box-shadow-alt);
		.item-3XjbnG.selected-g-kMVV {
			background: rgb(var(--accent));
		}
	}
	.channelName-3w2Y3c {
		background: var(--background-alt);
	}

	._02a39cb2980ceaaf-searchResult {
		border: none;
		background: var(--background-light);
		.c19a557985eb7793-cozy {
			margin: 0 !important;
		}
	}
	.searchResultMessage-1fxgXh {
		.c19a557985eb7793-cozy {
			margin: 0;
		}

		&:not(.hit-1fVM9e) .c19a557985eb7793-cozy:before {
			content: none;
		}
		&.hit-1fVM9e {
			box-shadow: 0 0 10px 6px var(--background-alt);
			border: none;
			border-radius: var(--border-radius);
			.c19a557985eb7793-cozy {
				background: var(--background-light);
			}
		}
	}
}
