#app-mount {
	.searchResultsWrap_c2b47d {
		background: var(--background-alt);
		border-top-left-radius: var(--border-radius);
	}
	.searchHeader_b7c924 {
		background: var(--background-light);
		box-shadow: var(--box-shadow-alt);
		.item-3XjbnG.selected-g-kMVV {
			background: rgb(var(--accent));
		}
	}
	.channelName-3w2Y3c {
		background: var(--background-alt);
	}

	.searchResult_ddc613 {
		border: none;
		background: var(--background-light);
		.cozy_f9f2ca {
			margin: 0 !important;
		}
	}
	.searchResultMessage-1fxgXh {
		.cozy_f9f2ca {
			margin: 0;
		}

		&:not(.hit-1fVM9e) .cozy_f9f2ca:before {
			content: none;
		}
		&.hit-1fVM9e {
			box-shadow: 0 0 10px 6px var(--background-alt);
			border: none;
			border-radius: var(--border-radius);
			.cozy_f9f2ca {
				background: var(--background-light);
			}
		}
	}
}
