#app-mount {
	.container_def45c {
		background: var(--background);
	}
	.divider_ffec75 {
		background: var(--background-light);
	}
	.container__8ee50 {
		background: transparent;
		border: none;
		padding-right: 8px;
	}
	.chat__4eed1::before {
		content: none;
	}
}