#app-mount {
	._01ae244280823725-container {
		background: var(--background);
	}
	.ee23ac2acd215184-divider {
		background: var(--background-light);
	}
	._34c2c51cfce1632e-container {
		background: transparent;
		border: none;
		padding-right: 8px;
	}
	.a44415a3320e67de-chat::before {
		content: none;
	}
}
