#app-mount {
	.container__01ae2 {
		background: var(--background);
	}
	.divider_ee23ac {
		background: var(--background-light);
	}
	.container__34c2c {
		background: transparent;
		border: none;
		padding-right: 8px;
	}
	.chat_a44415::before {
		content: none;
	}
}
