#app-mount .layer-3QrUeG[aria-label*="_SETTINGS"] {
  background: var(--background);


  .sidebarRegionScroller-3MXcoP {
    background: var(--background-dark);
  }

  .contentRegionScroller-26nc1e {
    background: var(--background);
  }
}