#app-mount {
	._13533e3c5791980f-autocomplete {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		.d1405bf11dcfb07a-categoryHeader {
			background: var(--background-light);
		}
	}
	.selected-3H3-RC {
		background: var(--background-alt);
	}
}
