#app-mount {
	.autocomplete_df266d {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		.categoryHeader_f97a5f {
			background: var(--background-light);
		}
	}
	.selected-3H3-RC {
		background: var(--background-alt);
	}
}