#app-mount {
	.autocomplete_f23da8 {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		.categoryHeader_fe2299 {
			background: var(--background-light);
		}
	}
	.selected-3H3-RC {
		background: var(--background-alt);
	}
}