.theme-light .menu__088f7 {
  background: var(--background-light);
}
.theme-dark .menu__088f7 {
  background: var(--background-light-alt);
}

#app-mount {
  .menu__088f7 {
    box-shadow: var(--box-shadow);

    // Quick reactions
    .button_bfb8e1 {
      background: var(--background);
    }
  }
  .item__183e8 {
    line-height: normal;

    .iconContainer__5d61c {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .caret_ce50ce {
      color: var(--text-normal);
    }

    &:active, &.focused_dcafb9:not(.colorDanger__08c25) {
      background: rgb(var(--accent), 1);
      color: var(--accent-text);
      .caret_ce50ce {
        color: var(--accent-text);
      }
    }
    &.colorBrand__9bb0f {
      color: rgb(var(--accent));
      &.focused_dcafb9 {
        color: var(--accent-text);
      }
    }
    &.colorPremium-p4p7qO {
      color: rgb(var(--discord-nitro) / 1);
      &.focused_dcafb9 {
        color: #fff;
        background: rgb(var(--discord-nitro) / 1);
      }
    }
  }
}