.theme-light .menu_dc52c6 {
  background: var(--background-light);
}
.theme-dark .menu_dc52c6 {
  background: var(--background-light-alt);
}

#app-mount {
  .menu_dc52c6 {
    box-shadow: var(--box-shadow);

    // Quick reactions
    .button__3ecb4 {
      background: var(--background);
    }
  }
  .item__183e8 {
    line-height: normal;

    .iconContainer__829e7 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .caret_ce50ce {
      color: var(--text-normal);
    }

    &:active, &.focused__27621:not(.colorDanger_eec36d) {
      background: rgb(var(--accent), 1);
      color: var(--accent-text);
      .caret_ce50ce {
        color: var(--accent-text);
      }
    }
    &.colorBrand__471df {
      color: rgb(var(--accent));
      &.focused__27621 {
        color: var(--accent-text);
      }
    }
    &.colorPremium-p4p7qO {
      color: rgb(var(--discord-nitro) / 1);
      &.focused__27621 {
        color: #fff;
        background: rgb(var(--discord-nitro) / 1);
      }
    }
  }
}