.theme-light .c1e9c47c23f12ca3-menu {
	background: var(--background-light);
}
.theme-dark .c1e9c47c23f12ca3-menu {
	background: var(--background-light-alt);
}

#app-mount {
	.c1e9c47c23f12ca3-menu {
		box-shadow: var(--box-shadow);

		// Quick reactions
		.f563df886a7377be-button {
			background: var(--background);
		}
	}
	.c1e9c47c23f12ca3-item {
		line-height: normal;

		.c1e9c47c23f12ca3-iconContainer {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.c1e9c47c23f12ca3-caret {
			color: var(--text-normal);
		}

		&:active,
		&.c1e9c47c23f12ca3-focused:not(.c1e9c47c23f12ca3-colorDanger) {
			background: rgb(var(--accent), 1);
			color: var(--accent-text);
			.c1e9c47c23f12ca3-caret {
				color: var(--accent-text);
			}
		}
		&.c1e9c47c23f12ca3-colorBrand {
			color: rgb(var(--accent));
			&.c1e9c47c23f12ca3-focused {
				color: var(--accent-text);
			}
		}
		&.colorPremium-p4p7qO {
			color: rgb(var(--discord-nitro) / 1);
			&.c1e9c47c23f12ca3-focused {
				color: #fff;
				background: rgb(var(--discord-nitro) / 1);
			}
		}
	}
}
