#app-mount {
  // General background in all tabs
  .contentWrapper__08434 {
    background: var(--background);
  }

  .emojiPicker_c0e32c .scroller_affa7e,
    .wrapper__8ef02 .scroller_affa7e,
      #emoji-picker-tab-panel .scroller_affa7e,
        .drawerSizingWrapper__08434 :is(.scroller_affa7e, .content__99f8c) {
    background: var(--background);
  }

  // Those weird bars between the areas
  .wrapper__14245 {
    background: var(--background-light-alt);
    border-radius: 6px;
    margin-bottom: 8px;

    &::after{
				content: none;
    }
  }

  // "Info"-bar at the bottom + the default-emoji/sticker button on the bottom left
  .inspector_aeaaeb, .unicodeShortcut_b9ee0c, .standardStickerShortcut__3ad28 {
      border: none;
			background: var(--background);
		}

  // Searchbar + background - in all tabs
  .header_c0e32c, .header__8ef02, .header_fed6d3 {
    background: var(--background);
    border: none;
  }

  // Super-reaction button in the mini-modal
  .label__0d242 {
    background-color: var(--background-light);
  }
}