#app-mount {
  .contentWrapper_e0bb2c {
    background: var(--background-light-alt);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  .scroller_ac6d1c::-webkit-scrollbar {
    display: none;
  }
  .container_ec5ce2 {
    background: var(--background);
    border: 1px solid var(--background);
    transition: border-color .15s ease;
    &:hover {
      border-color: var(--background-light);
    }
    &:focus-within {
      border-color: rgb(var(--accent), 1);
    }
  }

  .wrapper__85934 {
    background: var(--background);
  }


  .list__30719 {
    .listItems__49027 {
      left: 0 !important;
    }
    ul[role="row"] {
      padding-left: 8px;
    }
		.wrapper__91b2c {
			background: var(--background-light-alt);
			padding-left: 12px;
		}
		.inspector__80c84 {
			background: var(--background-light);
		}
  }
}