#app-mount {
	.container__95796 {
		margin: 20px 0;
	}
	.channelHeader__35a7e {
		background: var(--background-light-alt);
		padding: 16px;
	}
	.messageContainer__95796 {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		background: var(--background-alt);
		border: none;
	}

	.messagesScroller__4ad69 {
	    background: var(--background-light);
	}

	.messageContainer__4ad69 {
		background: var(--background-alt);
  	    border: none;
	}

	.message__4ad69 {
		margin-top: 10px!important;
	}

	.channelHeader__35a7e {
  		border-radius: 6px;
  		margin-left: 15px;
	}

	.scroller__2692d {
  		background: var(--background-light);
	}

	.messages__1ccd1 {
  		background: var(--background-alt);
  		border: none;
	}

	.channel__427f0 .channelHeader__35a7e {
  		margin-left: unset;
    	position: unset;
	}

	.container__0f711 {
    	background: var(--background-light);
    	padding-left: 15px;
	}
}
