#app-mount {
	.container__95796 {
		margin: 20px 0;
	}
	.channelHeader__35a7e {
		background: var(--background-light-alt);
		padding: 16px;
	}
	.messageContainer__95796 {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		background: var(--background-alt);
	}
}
