#app-mount {
  .messagesPopoutWrap_b3b384 {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  .header_f5cc88 {
    background: var(--background-alt);
    box-shadow: var(--box-shadow);
    z-index: 2;
  }
  .messageGroupWrapper_f8c6e9 {
    background: var(--background-alt);
    border: none;
  }
  .messageGroupCozy__2dedd {
    margin: 0 !important;
    padding: 8px 8px 8px 0 !important;
  }
}