#app-mount {
	.messagesPopoutWrap__45690 {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		border-radius: var(--border-radius);
	}
	.header__45690 {
		background: var(--background-alt);
		box-shadow: var(--box-shadow);
		z-index: 2;
	}
	.messageGroupWrapper__45690 {
		background: var(--background-alt);
		border: none;
	}
	.messageGroupCozy__45690 {
		margin: 0 !important;
		padding: 8px 8px 8px 0 !important;
	}
}
