#app-mount {
	.messagesPopoutWrap_e8b59c {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		border-radius: var(--border-radius);
	}
	.header_e8b59c {
		background: var(--background-alt);
		box-shadow: var(--box-shadow);
		z-index: 2;
	}
	.messageGroupWrapper_e8b59c {
		background: var(--background-alt);
		border: none;
	}
	.messageGroupCozy_e8b59c {
		margin: 0 !important;
		padding: 8px 8px 8px 0 !important;
	}
}
