#app-mount {
  .messagesPopoutWrap__10dd1 {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  .header__21b33 {
    background: var(--background-alt);
    box-shadow: var(--box-shadow);
    z-index: 2;
  }
  .messageGroupWrapper__1fce2 {
    background: var(--background-alt);
    border: none;
  }
  .messageGroupCozy__9d016 {
    margin: 0 !important;
    padding: 8px 8px 8px 0 !important;
  }
}