#app-mount {
	.e8b59c4b335dd2fc-messagesPopoutWrap {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		border-radius: var(--border-radius);
	}
	.e8b59c4b335dd2fc-header {
		background: var(--background-alt);
		box-shadow: var(--box-shadow);
		z-index: 2;
	}
	.e8b59c4b335dd2fc-messageGroupWrapper {
		background: var(--background-alt);
		border: none;
	}
	.e8b59c4b335dd2fc-messageGroupCozy {
		margin: 0 !important;
		padding: 8px 8px 8px 0 !important;
	}
}
