#app-mount {
  .container_d6dad3 {
    background: var(--background-light);
    box-shadow: var(--box-shadow);
  }
  .option_b5597b {
    &:after {
      background: linear-gradient(90deg, transparent, var(--background-light));
    }
    &.selected-rZcOL- {
      background: var(--background-alt);
    }
  }
}