#app-mount {
	._55c999adcf6db265-container {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
	}
	._56fec8e8b8048fe0-option {
		&:after {
			background: linear-gradient(90deg, transparent, var(--background-light));
		}
		&.selected-rZcOL- {
			background: var(--background-alt);
		}
	}
}
