#app-mount {
	.d9c8822889d1d4a1-container {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		border-radius: var(--border-radius);
	}
	.d9c8822889d1d4a1-header {
		background: var(--background-alt);
	}
	._6764bd76e0340219-container {
		background: var(--background-alt);
		border-radius: var(--border-radius);
		border: none;
		&:hover {
			background: var(--background);
		}
	}
}
