#app-mount {
	.container_f93da8 {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		border-radius: var(--border-radius);
	}
	.header__6d44a {
		background: var(--background-alt);
	}
	.container__9922f {
		background: var(--background-alt);
		border-radius: var(--border-radius);
		border: none;
		&:hover {
			background: var(--background);
		}
	}
}