#app-mount {
	.container__8261a {
		background: var(--background-light);
		box-shadow: var(--box-shadow);
		border-radius: var(--border-radius);
	}
	.header__53b07 {
		background: var(--background-alt);
	}
	.container__6604b {
		background: var(--background-alt);
		border-radius: var(--border-radius);
		border: none;
		&:hover {
			background: var(--background);
		}
	}
}