#app-mount {
	.userPopoutOuter_d739b2 {
		.messageInputContainer__768e6 {
			border: none;
		}

		.roles__74a2b {
			gap: 4px;
		}
		.role__631a3 {
			margin: 0;
			background: transparent;
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			gap: 6px;
			padding: 6px;
			.roleCircle_bae511 {
				position: unset;
				overflow: visible;
				filter: none;
				margin: 0;
				&::before {
					content: '';
					position: absolute;
					inset: 0;
					background: inherit;
					opacity: .15;
					z-index: 0;
					pointer-events: none;
				}
			}
			.roleRemoveButton__737f2 {
				position: unset;
				& + .roleName_d19d33 {
					position: relative;
					z-index: 1;
				}
			}
			.roleRemoveIcon__7f63d {
				left: 12px;
			}
			.roleName_d19d33 {
				margin: 0;
				color: var(--text-focus);
			}
		}

		&.userPopoutUnthemed-3WS0Xb {
			background: var(--background-light-alt);
		}
		&.userProfileOuterUnthemed__48723 {
			background: var(--background-light-alt);
			.userPopoutInner_f545a3 {
				background: transparent;
			}
			.overlayBackground__86b78 {
				background: var(--background-light);
			}
		}
	}
	.userPopoutInner_f545a3 {
		&.userPopoutInnerNonPremium-3zrFkp {
			background: transparent;
			.overlayBackground-arbZMT,
			.profileBadges-31rDHI {
				background: var(--background)
			}
		}
	}
}