#app-mount {
	.userPopoutOuter_c69a7b {
		.messageInputContainer_f2c0a8 {
			border: none;
		}

		.roles_fa2f72 {
			gap: 4px;
		}
		.dfa8b6b94cddb191-role {
			margin: 0;
			background: transparent;
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			gap: 6px;
			padding: 6px;
			._4f569b8941af22d1-roleCircle {
				position: unset;
				overflow: visible;
				filter: none;
				margin: 0;
				&::before {
					content: '';
					position: absolute;
					inset: 0;
					background: inherit;
					opacity: 0.15;
					z-index: 0;
					pointer-events: none;
				}
			}
			.dfa8b6b94cddb191-roleRemoveButton {
				position: unset;
				& + ._48c1c0768f2a2421-roleName {
					position: relative;
					z-index: 1;
				}
			}
			._48c1c0768f2a2421-roleRemoveIcon {
				left: 12px;
			}
			._48c1c0768f2a2421-roleName {
				margin: 0;
				color: var(--text-focus);
			}
		}

		&.userPopoutUnthemed-3WS0Xb {
			background: var(--background-light-alt);
		}
		&.userProfileOuterUnthemed_c69a7b {
			background: var(--background-light-alt);
			.userPopoutInner_c69a7b {
				background: transparent;
			}
			.overlayBackground_c69a7b {
				background: var(--background-light);
			}
		}
	}
	.userPopoutInner_c69a7b {
		&.userPopoutInnerNonPremium-3zrFkp {
			background: transparent;
			.overlayBackground-arbZMT,
			.profileBadges-31rDHI {
				background: var(--background);
			}
		}
	}
}
