#app-mount {
	.userPopoutOuter-1OHwPL {
		.messageInputContainer-24qqTx {
			border: none;
		}

		.roles-3vQPxb {
			gap: 4px;
		}
		.role-2TIOKu {
			margin: 0;
			background: transparent;
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			gap: 6px;
			padding: 6px;
			.roleCircle-3TFUOr {
				position: unset;
				overflow: visible;
				filter: none;
				margin: 0;
				&::before {
					content: '';
					position: absolute;
					inset: 0;
					background: inherit;
					opacity: .15;
					z-index: 0;
					pointer-events: none;
				}
			}
			.roleRemoveButton-17oXnT {
				position: unset;
				& + .roleName-2ZJJYR {
					position: relative;
					z-index: 1;
				}
			}
			.roleRemoveIcon-387wKV {
				left: 12px;
			}
			.roleName-2ZJJYR {
				margin: 0;
				color: var(--text-focus);
			}
		}

		&.userPopoutUnthemed-3WS0Xb {
			background: var(--background-light-alt);
		}
		&.userProfileOuterUnthemed-11rPfA {
			background: var(--background-light-alt);
			.userPopoutInner-nv9Y92 {
				background: transparent;
			}
			.overlayBackground-2aa7wt {
				background: var(--background-light);
			}
		}
	}
	.userPopoutInner-nv9Y92 {
		&.userPopoutInnerNonPremium-3zrFkp {
			background: transparent;
			.overlayBackground-arbZMT,
			.profileBadges-31rDHI {
				background: var(--background)
			}
		}
	}
}