$background: #171a1f;

.theme-light {
  // Background
  --background-light: #fff;
  --background-light-alt: #fff;
  --background: #edf2f7;
  --background-alt: #f7fafc;
  --background-dark: #e2e8f0;

  // Text colours
  --text-normal: #2d3748;
  --text-muted: #718096;
  --text-focus: #1a202c;

  // Font weights
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 700;
  --font-weight-bold: 700;

  // Box shadows
  --box-shadow: 0 4px 9px rgba(0 0 0 / 0.2);
  --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.1);

  // Scrollbars
  --scrollbar-colour: rgba(0 0 0 / 0.2);

  // Messages
  --edit-message-box: var(--background-light);
  --message-background: var(--background-light);
}