/**
 * @name MinimalCord
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Changes Discord enough to give it a fresh feel while also making it darker. Supports both Light and Dark themes.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/MinimalCord
 * @website https://www.gibbu.me
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
	--accent: 50, 131, 207;

	--message-padding: 10px;
	--message-spacing: 10px;

	--dark-bg-hue: 218;
	--dark-bg-saturation: 15%;
	--dark-bg-lightness: 11%;

	--light-bg-hue: 200;
  --light-bg-saturation: 12%;
  --light-bg-lightness: 100%;

	--font: 'Inter';
}