/**
 * @name MinimalCord
 * @author Gibbu#1211
 * @version 1.0.0
 * @description Changes Discord enough to give it a fresh feel while also making it darker. Supports both Light and Dark themes.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/MinimalCord
 * @website https://www.gibbu.me
*/

@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

:root {
    /*
        Accent variable
        Use this website: https://htmlcolorcodes.com/color-picker/
        to get your desired RGB numbers. Then simply put each number in their respective area.
        R,G,B
    */
    --accent: 0, 105, 255; /* DEFAULT: 22, 188, 249 */
    --search-results-width: 25vw; /* Width of server results. For a fixed width use px. | DEFAULT: 25vw */
    --emoji-picker-height: 260px; /* Height of Emoji picker | DEFAULT: 260px */
    --chat-message-padding: 20px; /* Spacing around messages | DEFAULT: 20px */
    --chat-message-spacing: 20px; /* Spacing between message | DEFAULT: 20px */

    /*
        To use a custom font. Visit https://fonts.google.com and select one to your liking.
        Now just follow this tutorial: https://imgur.com/a/CNbw7xC
    */
    --font: 'Roboto';
}

// Global
@import 'global/vars';
@import 'global/icons';
@import 'global/global';
@import 'global/headers';
@import 'global/aceeditor';
@import 'global/version';

// General
@import 'general/settings';
@import 'general/memberslist';

// Pages
@import 'pages/library';
@import 'pages/nitro';
@import 'pages/friends';
@import 'pages/discovery';

// Popouts
@import 'popouts/search';
@import 'popouts/serverdropdown';
@import 'popouts/statuspicker';
@import 'popouts/userpopout';
@import 'popouts/contextmenu';
@import 'popouts/autocomplete';
@import 'popouts/mentions';
@import 'popouts/rtc';
@import 'popouts/emojipicker';
@import 'popouts/auditlogs';
@import 'popouts/addrole';
@import 'popouts/unreads';

// Modals
@import 'modals/general';
@import 'modals/usermodal';
@import 'modals/upload';
@import 'modals/notification';
@import 'modals/joinaddserver';
@import 'modals/selectregion';
@import 'modals/imagelightbox';
@import 'modals/quicktravel';
@import 'modals/customstatus';
@import 'modals/delete';


@import 'chat/import';
@import 'bd/import';
@import 'guilds/guilds';
@import 'channels/import';
@import 'app/import';