#app-mount {
	.featureCard-1RR4Tl {
		background: var(--background-alt);
	}
	.featureIcon-3p1TC_ {
		background: var(--background-light);
	}

	.upsellContainer-L9xv7w {
		background: var(--background-alt);
	}
	.upsellFooter-ZYsio_ {
		background: var(--background-light-alt);
	}

	// Overview
	.twoColumnFormSection-3aoF-Y {
		margin-top: 20px;
	}

	// Server insights
	.developerPortalCtaWrapper-2XNafh,
	.analyticsCard-qckucw {
		background: var(--background-alt);
	}
}
