#app-mount {
  .sidebar_bdf6b7 {
    border: none;
  }
  .titleContainer_e558ff {
    background: var(--background);
    box-shadow: none;
  }
  .header__63c59 {
    background: var(--background);
    box-shadow: none;
  }
  .scroller__52680 {
    background: transparent;
  }
}