#app-mount {
  .sidebar_e87574 {
    border: none;
  }
  .titleContainer_e87574 {
    background: var(--background);
    box-shadow: none;
  }
  .header_bd05f1 {
    background: var(--background);
    box-shadow: none;
  }
  .scroller_e9196a {
    background: transparent;
  }
}