#app-mount {
  .sidebar__37984 {
    border: none;
  }
  .titleContainer_d09261 {
    background: var(--background);
    box-shadow: none;
  }
  .header_ee0bd9 {
    background: var(--background);
    box-shadow: none;
  }
  .scroller_c92337 {
    background: transparent;
  }
}