#app-mount {
	.e29cd7b93c4f1266-sidebar {
		border: none;
	}
	.e29cd7b93c4f1266-titleContainer {
		background: var(--background);
		box-shadow: none;
	}
	.c6bf1b7af480dfda-header {
		background: var(--background);
		box-shadow: none;
	}
	.scroller_ff90b2 {
		background: transparent;
	}
}
